<%- include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li>
      <a href="#">
        <span class="icon is-small"><i class="fa-solid fa-cog"></i></span>
        <span>Administrator Tools</span>
      </a>
    </li>
    <li class="is-active">
      <a href="#" aria-current="page">
        Data List Management
      </a>
    </li>
  </ul>
</nav>

<div class="columns is-vcentered">
  <div class="column">
    <h1 class="title is-1">
      Data List Management
    </h1>
  </div>
</div>

<% for (const dataList of dataLists) { %>
  <section class="mb-5" data-data-list-key="<%= dataList.dataListKey %>">
    <div class="columns is-vcentered">
      <div class="column">
        <h2 class="title is-3">
          <%= dataList.dataListName %>
        </h2>
      </div>
      <div class="column is-narrow">
        <button class="button is-primary button--addItem" 
                type="button"
                data-data-list-key="<%= dataList.dataListKey %>">
          <span class="icon">
            <i class="fa-solid fa-plus"></i>
          </span>
          <span>Add Item</span>
        </button>
      </div>
    </div>

    <div class="table-container">
      <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th style="width: 60px;">Order</th>
            <th>Item</th>
            <th style="width: 180px;">User Group</th>
            <th style="width: 200px;">Actions</th>
          </tr>
        </thead>
        <tbody id="dataListItems--<%= dataList.dataListKey %>" class="is-sortable">
          <% if (dataList.items.length === 0) { %>
            <tr>
              <td colspan="4" class="has-text-centered has-text-grey">
                No items in this list. Click "Add Item" to create one.
              </td>
            </tr>
          <% } else { %>
            <% for (const item of dataList.items) { %>
              <tr data-data-list-item-id="<%= item.dataListItemId %>">
                <td class="has-text-centered">
                  <span class="icon is-small has-text-grey handle" style="cursor: move;">
                    <i class="fa-solid fa-grip-vertical"></i>
                  </span>
                </td>
                <td>
                  <span class="item-text"><%= item.dataListItem %></span>
                </td>
                <td>
                  <% if (item.userGroupId) { %>
                    <% const userGroup = userGroups.find(ug => ug.userGroupId === item.userGroupId) %>
                    <% if (userGroup) { %>
                      <span class="tag is-info"><%= userGroup.userGroupName %></span>
                    <% } else { %>
                      <span class="has-text-grey-light">-</span>
                    <% } %>
                  <% } else { %>
                    <span class="has-text-grey-light">-</span>
                  <% } %>
                </td>
                <td>
                  <div class="buttons are-small">
                    <button class="button is-info button--editItem" 
                            type="button"
                            data-data-list-key="<%= dataList.dataListKey %>"
                            data-data-list-item-id="<%= item.dataListItemId %>"
                            data-data-list-item="<%= item.dataListItem %>"
                            data-user-group-id="<%= item.userGroupId || '' %>">
                      <span class="icon">
                        <i class="fa-solid fa-pencil"></i>
                      </span>
                      <span>Edit</span>
                    </button>
                    <button class="button is-danger button--deleteItem" 
                            type="button"
                            data-data-list-key="<%= dataList.dataListKey %>"
                            data-data-list-item-id="<%= item.dataListItemId %>"
                            data-data-list-item="<%= item.dataListItem %>">
                      <span class="icon">
                        <i class="fa-solid fa-trash"></i>
                      </span>
                      <span>Delete</span>
                    </button>
                  </div>
                </td>
              </tr>
            <% } %>
          <% } %>
        </tbody>
      </table>
    </div>
  </section>
<% } %>

<%- include('../_footerA'); -%>

<script src="<%= urlPrefix %>/lib/sortablejs/Sortable.min.js"></script>
<script>
  exports.dataLists = <%- JSON.stringify(dataLists) %>;
  exports.userGroups = <%- JSON.stringify(userGroups) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/dataLists.admin.js"></script>

<%- include('../_footerB'); -%>
