<%- await include('../_header'); -%>

<div class="columns is-mobile">
  <div class="column is-2-desktop is-narrow-touch is-hidden-print">
    <%- await include('_menu'); -%>
  </div>
  <div class="column">
    <div class="columns is-mobile is-vcentered">
      <div class="column">
        <nav class="breadcrumb">
          <ul>
            <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
            <li>
              <a href="#">
                <span class="icon is-small"><i class="fa-solid fa-cog"></i></span>
                <span>Administrator Tools</span>
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page">
                Data List Management
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="column is-narrow">
        <a
          class="is-size-7"
          href="https://cityssm.github.io/shiftlog/docs/adminDataLists.html"
          rel="noopener noreferrer"
          target="_blank"
        >
          <span class="icon is-small">
            <i class="fa-solid fa-question-circle"></i>
          </span>
          <span>Help</span>
        </a>
      </div>
    </div>

    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title is-1">
          Data List Management
        </h1>
      </div>
    </div>

    <% for (const dataList of dataLists) { %>
    <details class="panel mb-5 collapsable-panel" data-data-list-key="<%= dataList.dataListKey %>">
      <summary class="panel-heading is-clickable">
        <span class="icon-text">
          <span class="icon">
            <i class="fa-solid fa-chevron-right details-chevron"></i>
          </span>
          <span class="has-text-weight-semibold mr-2">
            <%= dataList.dataListName %>
          </span>
          <span class="tag is-rounded" id="itemCount--<%= dataList.dataListKey %>">
            <%= dataList.items.length %>
          </span>
        </span>
      </summary>
      <div class="panel-block is-justify-content-flex-end">
        <button
          class="button is-primary is-small button--addItem" 
          data-data-list-key="<%= dataList.dataListKey %>"
          type="button"
        >
          <span class="icon">
            <i class="fa-solid fa-plus"></i>
          </span>
          <span>Add Item</span>
        </button>

      </div>
      <div class="panel-block p-0">
        <div class="table-container" style="width: 100%;">
          <table class="table is-striped is-hoverable is-fullwidth mb-0">
            <thead>
              <tr>
                <th style="width: 60px;">Order</th>
                <th>Item</th>
                <th style="width: 180px;">User Group</th>
                <th>
                  <span class="is-sr-only">Actions</span>
                </th>
              </tr>
            </thead>
            <tbody class="is-sortable" id="dataListItems--<%= dataList.dataListKey %>">
              <% if (dataList.items.length === 0) { %>
              <tr>
                <td class="has-text-centered has-text-grey" colspan="4">
                  No items in this list. Click "Add Item" to create one.
                </td>
              </tr>
              <% } else { %>
              <% for (const item of dataList.items) { %>
              <tr data-data-list-item-id="<%= item.dataListItemId %>">
                <td class="has-text-centered">
                  <span class="icon is-small has-text-grey handle" style="cursor: move;">
                    <i class="fa-solid fa-grip-vertical"></i>
                  </span>
                </td>
                <td>
                  <span class="item-text"><%= item.dataListItem %></span>
                </td>
                <td>
                  <% if (item.userGroupId) { %>
                  <% const userGroup = userGroups.find(ug => ug.userGroupId === item.userGroupId) %>
                  <% if (userGroup) { %>
                  <span class="tag is-info"><%= userGroup.userGroupName %></span>
                  <% } else { %>
                  <span class="has-text-grey-light">-</span>
                  <% } %>
                  <% } else { %>
                  <span class="has-text-grey-light">-</span>
                  <% } %>
                </td>
                <td class="has-text-right">
                  <div class="buttons are-small is-right">
                    <button
                      class="button is-info button--editItem" 
                      data-data-list-key="<%= dataList.dataListKey %>"
                      data-data-list-item-id="<%= item.dataListItemId %>"
                      data-data-list-item="<%= item.dataListItem %>"
                      data-user-group-id="<%= item.userGroupId || '' %>"
                      type="button"
                    >
                      <span class="icon">
                        <i class="fa-solid fa-pencil"></i>
                      </span>
                      <span>Edit</span>
                    </button>
                    <button
                      class="button is-danger button--deleteItem" 
                      data-data-list-key="<%= dataList.dataListKey %>"
                      data-data-list-item-id="<%= item.dataListItemId %>"
                      data-data-list-item="<%= item.dataListItem %>"
                      type="button"
                    >
                      <span class="icon">
                        <i class="fa-solid fa-trash"></i>
                      </span>
                      <span>Delete</span>
                    </button>
                  </div>
                </td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </details>
    <% } %>
  </div>
</div>

<%- await include('../_footerA'); -%>

<script src="<%= urlPrefix %>/lib/sortablejs/Sortable.min.js"></script>
<script>
  exports.dataLists = <%- JSON.stringify(dataLists) %>;
  exports.userGroups = <%- JSON.stringify(userGroups) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/dataLists.admin.js"></script>

<%- await include('../_footerB'); -%>
