<%- await include('../_header'); -%>

<div class="columns is-mobile">
  <div class="column is-2-desktop is-narrow-touch is-hidden-print">
    <%- await include('_menu'); -%>
  </div>
  <div class="column">
    <nav class="breadcrumb">
      <ul>
        <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
        <li>
          <a href="#">
            <span class="icon is-small"><i class="fa-solid fa-cog"></i></span>
            <span>Administrator Tools</span>
          </a>
        </li>
        <li class="is-active">
          <a href="#" aria-current="page">
            Employee Management
          </a>
        </li>
      </ul>
    </nav>

    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title is-1">
          Employee Management
        </h1>
      </div>
      <div class="column is-narrow">
        <div class="field">
          <div class="control has-icons-left">
            <input
              class="input"
              id="filter--employees"
              type="text"
              aria-label="Filter employees"
              placeholder="Filter employees..."
            />
            <span class="icon is-small is-left">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <button class="button is-primary" id="button--addEmployee" type="button">
          <span class="icon">
            <i class="fa-solid fa-plus"></i>
          </span>
          <span>Add Employee</span>
        </button>
      </div>
    </div>

    <div id="container--employees"></div>
  </div>
</div>

<%- await include('../_footerA'); -%>

<script>
  exports.employees = <%- JSON.stringify(employees) %>;
  exports.userGroups = <%- JSON.stringify(userGroups) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/employees.admin.js"></script>

<%- await include('../_footerB'); -%>
