<%- await include('../_header'); -%>

<div class="columns is-mobile">
  <div class="column is-2-desktop is-narrow-touch is-hidden-print">
    <%- await include('_menu'); -%>
  </div>
  <div class="column">
    <div class="columns is-mobile is-vcentered">
      <div class="column">
        <nav class="breadcrumb">
          <ul>
            <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
            <li>
              <a href="#">
                <span class="icon is-small"><i class="fa-solid fa-cog"></i></span>
                <span>Administrator Tools</span>
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page">
                Equipment Maintenance
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="column is-narrow">
        <a
          class="is-size-7"
          href="https://cityssm.github.io/shiftlog/docs/adminEquipment.html"
          rel="noopener noreferrer"
          target="_blank"
        >
          <span class="icon is-small">
            <i class="fa-solid fa-question-circle"></i>
          </span>
          <span>Help</span>
        </a>
      </div>
    </div>

    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title is-1">
          Equipment Maintenance
        </h1>
      </div>
      <div class="column is-narrow">
        <div class="field">
          <div class="control has-icons-left">
            <input
              class="input"
              id="filter--equipment"
              type="text"
              aria-label="Filter equipment"
              placeholder="Filter equipment..."
            />
            <span class="icon is-small is-left">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <button class="button is-success" id="button--addEquipment" type="button">
          <span class="icon">
            <i class="fa-solid fa-plus"></i>
          </span>
          <span>Add Equipment</span>
        </button>
      </div>
    </div>

    <div id="container--equipment"></div>
  </div>
</div>

<%- await include('../_footerA'); -%>

<script>
  exports.equipment = <%- JSON.stringify(equipment) %>;
  exports.userGroups = <%- JSON.stringify(userGroups) %>;
  exports.equipmentTypes = <%- JSON.stringify(equipmentTypes) %>;
  exports.employeeLists = <%- JSON.stringify(employeeLists) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/equipment.admin.js"></script>

<%- await include('../_footerB'); -%>
