<%- await include('../_header'); -%>

<div class="columns is-mobile">
  <div class="column is-2-desktop is-narrow-touch is-hidden-print">
    <%- await include('_menu'); -%>
  </div>
  <div class="column">
    <div class="columns is-mobile is-vcentered">
      <div class="column">
        <nav class="breadcrumb">
          <ul>
            <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
            <li>
              <a href="#">
                <span class="icon is-small">
                  <i class="fa-solid fa-cog"></i>
                </span>
                <span>Administrator Tools</span>
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page"> Tag Management </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title is-1">Tag Management</h1>
      </div>
      <div class="column is-narrow">
        <div class="field">
          <div class="control has-icons-left">
            <input
              class="input"
              id="filter--tags"
              type="text"
              aria-label="Filter tags"
              placeholder="Filter tags..."
            />
            <span class="icon is-small is-left">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="column is-narrow">
        <div class="field has-addons">
          <div class="control">
            <button class="button is-success" id="button--addTag" type="button">
              <span class="icon">
                <i class="fa-solid fa-plus"></i>
              </span>
              <span>Add Tag</span>
            </button>
          </div>
          <div class="control">
            <div class="dropdown is-right">
              <div class="dropdown-trigger">
                <button class="button is-success">
                  <span class="icon">
                    <i class="fa-solid fa-caret-down"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu">
                <div class="dropdown-content">
                  <a
                    class="dropdown-item"
                    id="button--addTagFromWorkOrder"
                    href="#"
                  >
                    <span class="icon">
                      <i class="fa-solid fa-file-import"></i>
                    </span>
                    <span>
                      Add Tags from <%=
                      configFunctions.getConfigProperty('workOrders.sectionNameSingular')
                      %>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="container--tags"></div>
  </div>
</div>

<%- await include('../_footerA'); -%>

<script>
  exports.tags = <%- JSON.stringify(tags) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/tags.admin.js"></script>

<%- await include('../_footerB'); -%>
