<%- await include('../_header'); -%>

<div class="columns is-mobile">
  <div class="column is-2-desktop is-narrow-touch is-hidden-print">
    <%- await include('_menu'); -%>
  </div>
  <div class="column">
    <div class="columns is-mobile is-vcentered">
      <div class="column">
        <nav class="breadcrumb">
          <ul>
            <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
            <li>
              <a href="#">
                <span class="icon is-small">
                  <i class="fa-solid fa-cog"></i>
                </span>
                <span>Administrator Tools</span>
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page"> User Group Management </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="column is-narrow">
        <a
          class="is-size-7"
          href="https://cityssm.github.io/shiftlog/docs/adminUserGroups.html"
          rel="noopener noreferrer"
          target="_blank"
        >
          <span class="icon is-small">
            <i class="fa-solid fa-question-circle"></i>
          </span>
          <span>Help</span>
        </a>
      </div>
    </div>

    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title is-1">User Group Management</h1>
      </div>
      <div class="column is-narrow">
        <button
          class="button is-success"
          id="button--addUserGroup"
          type="button"
        >
          <span class="icon">
            <i class="fa-solid fa-plus"></i>
          </span>
          <span>Add User Group</span>
        </button>
      </div>
    </div>

    <div class="message is-info">
      <div class="message-body">
        Organize users into groups for permission management and content filtering. User groups can be assigned to data lists, employees, and other resources to control visibility and access.
      </div>
    </div>

    <div id="container--userGroups"></div>
  </div>
</div>

<%- await include('../_footerA'); -%>

<script>
  exports.userGroups = <%- JSON.stringify(userGroups) %>;
  exports.users = <%- JSON.stringify(users) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/userGroups.admin.js"></script>

<%- await include('../_footerB'); -%>
