<%- await include('../_header'); -%>

<div class="columns is-mobile">
  <div class="column is-2-desktop is-narrow-touch is-hidden-print">
    <%- await include('_menu'); -%>
  </div>
  <div class="column">
    <div class="columns is-mobile is-vcentered">
      <div class="column">
        <nav class="breadcrumb">
          <ul>
            <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
            <li>
              <a href="#">
                <span class="icon is-small"><i class="fa-solid fa-cog"></i></span>
                <span>Administrator Tools</span>
              </a>
            </li>
            <li class="is-active">
              <a href="#" aria-current="page">
                <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %> Type Maintenance
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="column is-narrow">
        <a
          class="is-size-7"
          href="https://cityssm.github.io/shiftlog/docs/adminWorkOrderTypes.html"
          rel="noopener noreferrer"
          target="_blank"
        >
          <span class="icon is-small">
            <i class="fa-solid fa-question-circle"></i>
          </span>
          <span>Help</span>
        </a>
      </div>
    </div>

    <div class="columns is-vcentered">
      <div class="column">
        <h1 class="title is-1">
          <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %> Type Maintenance
        </h1>
      </div>
      <div class="column is-narrow">
        <button class="button is-success" id="button--addWorkOrderType" type="button">
          <span class="icon">
            <i class="fa-solid fa-plus"></i>
          </span>
          <span>Add <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %> Type</span>
        </button>
      </div>
    </div>

    <div class="message is-info">
      <div class="message-body">
        Configure <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular').toLowerCase() %> types to categorize and organize work across different departments or functions.
        Define custom fields, forms, and workflows for each <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular').toLowerCase() %> type.
      </div>
    </div>

    <table class="table is-striped is-hoverable is-fullwidth mb-0">
      <thead>
        <tr>
          <th style="width: 60px;">Order</th>
          <th>Type Name</th>
          <th style="width: 150px;">Number Prefix</th>
          <th style="width: 180px;">User Group</th>
          <th style="width: 200px;">
            <span class="is-sr-only">Actions</span>
          </th>
        </tr>
      </thead>
      <tbody class="is-sortable" id="tbody--workOrderTypes">
        <% if (workOrderTypes.length === 0) { %>
        <tr id="tr--noWorkOrderTypes">
          <td class="has-text-centered has-text-grey" colspan="5">
            No <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular').toLowerCase() %> types found.
            Click "Add <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %> Type" to create one.
          </td>
        </tr>
        <% } else { %>
        <% for (const workOrderType of workOrderTypes) { %>
        <tr data-work-order-type-id="<%= workOrderType.workOrderTypeId %>">
          <td class="has-text-centered">
            <span class="icon is-small has-text-grey handle" style="cursor: move;">
              <i class="fa-solid fa-grip-vertical"></i>
            </span>
          </td>
          <td>
            <span class="work-order-type-name"><%= workOrderType.workOrderType %></span>
          </td>
          <td>
            <span class="work-order-number-prefix"><%= workOrderType.workOrderNumberPrefix %></span>
          </td>
          <td>
            <% if (workOrderType.userGroupId) { %>
            <span class="tag is-info"><%= workOrderType.userGroupName %></span>
            <% } else { %>
            <span class="has-text-grey-light">-</span>
            <% } %>
          </td>
          <td class="has-text-right">
            <div class="buttons are-small is-right">
              <button
                class="button is-info button--editWorkOrderType" 
                data-work-order-type-id="<%= workOrderType.workOrderTypeId %>"
                data-work-order-type="<%= workOrderType.workOrderType %>"
                data-work-order-number-prefix="<%= workOrderType.workOrderNumberPrefix %>"
                data-due-days="<%= workOrderType.dueDays ?? '' %>"
                data-user-group-id="<%= workOrderType.userGroupId ?? '' %>"
                type="button"
              >
                <span class="icon">
                  <i class="fa-solid fa-pencil"></i>
                </span>
                <span>Edit</span>
              </button>
              <button
                class="button is-danger button--deleteWorkOrderType" 
                data-work-order-type-id="<%= workOrderType.workOrderTypeId %>"
                data-work-order-type="<%= workOrderType.workOrderType %>"
                type="button"
              >
                <span class="icon">
                  <i class="fa-solid fa-trash"></i>
                </span>
                <span>Delete</span>
              </button>
            </div>
          </td>
        </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
  </div>
</div>

<%- await include('../_footerA'); -%>

<script src="<%= urlPrefix %>/lib/sortablejs/Sortable.min.js"></script>
<script>
  exports.workOrderTypes = <%- JSON.stringify(workOrderTypes) %>;
  exports.userGroups = <%- JSON.stringify(userGroups) %>;
  exports.availableWorkOrderMoreInfoForms = <%- JSON.stringify(availableWorkOrderMoreInfoForms) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/workOrderTypes.admin.js"></script>

<%- await include('../_footerB'); -%>
