<%- await include('../_header'); -%>

<h1 class="title is-1">
  Today in <%= configFunctions.getConfigProperty("application.applicationName") %>
</h1>

<% if (configFunctions.getConfigProperty('shifts.isEnabled') && user.userProperties.shifts.canView) { %>
<div class="columns">
  <div class="column">
    <% if (shifts.length > 0) { %>
    <div class="panel is-info">
      <div class="panel-heading">
        Today's <%= configFunctions.getConfigProperty('shifts.sectionName') %>
      </div>
      <% for (const shift of shifts) { %>
      <a class="panel-block" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('shifts.router') %>/<%= shift.shiftId %>">
        <div class="media">
          <div class="media-left">
            <i class="fa-solid fa-2x <%= configFunctions.getConfigProperty('shifts.iconClass') %>"></i>
          </div>
          <div class="media-content">
            <%= shift.shiftTypeDataListItem %><br />
            <small>
              <strong>Time:</strong> <%= shift.shiftTimeDataListItem %>
              <% if (shift.supervisorEmployeeNumber) { %>
              | <strong>Supervisor:</strong> <%= shift.supervisorFirstName %> <%= shift.supervisorLastName %> (Emp #<%= shift.supervisorEmployeeNumber %>)
              <% } %>
            </small>
          </div>
        </div>
      </a>
      <% } %>
    </div>
    <% } else { %>
    <div class="message is-info">
      <div class="message-body">
        There are no <%= configFunctions.getConfigProperty('shifts.sectionName').toLowerCase() %> to display for today.
      </div>
    </div>
    <% } %>
  </div>
  <div class="column">
    <div class="panel">
      <a class="panel-block" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('shifts.router') %>">
        <div class="media">
          <div class="media-left">
            <span class="fa-layers fa-4x">
              <i class="fa-solid <%= configFunctions.getConfigProperty('shifts.iconClass') %>"></i>
              <i class="fa-solid fa-magnifying-glass" data-fa-transform="shrink-8 right-7 down-5" data-fa-glow="10"></i>
            </span>
          </div>
          <div class="media-content">
            <h2 class="title is-4 mb-0 has-text-link">
              <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %> Search
            </h2>
            <p>
              Search by date, type, supervisor, and more.
            </p>
          </div>
        </div>
      </a>
      <% if (user.userProperties.shifts.canUpdate) { %>
      <div class="panel-block">
        <a class="button is-success is-fullwidth" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('shifts.router') %>/new">
          <span class="icon"><i class="fa-solid fa-plus"></i></span>
          <span>Create New <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %></span>
        </a>
      </div>
      <% } %>
    </div>
  </div>
</div>
<% } %>

<% if (configFunctions.getConfigProperty('timesheets.isEnabled') && user.userProperties.timesheets.canView) { %>
<div class="columns">
  <div class="column">
    <% if (timesheets.length > 0) { %>
    <div class="panel is-info">
      <div class="panel-heading">
        Today's <%= configFunctions.getConfigProperty('timesheets.sectionName') %>
      </div>
      <% for (const timesheet of timesheets) { %>
      <a class="panel-block" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>/<%= timesheet.timesheetId %>">
        <div class="media">
          <div class="media-left">
            <i class="fa-solid fa-2x <%= configFunctions.getConfigProperty('timesheets.iconClass') %>"></i>
          </div>
          <div class="media-content">
            <%= timesheet.timesheetTypeDataListItem %><%= timesheet.timesheetTitle ? ': ' + timesheet.timesheetTitle : '' %><br />
            <small>
              <% if (timesheet.supervisorEmployeeNumber) { %>
              <strong>Supervisor:</strong> <%= timesheet.supervisorFirstName %> <%= timesheet.supervisorLastName %> (Emp #<%= timesheet.supervisorEmployeeNumber %>)
              <% } %>
            </small>
          </div>
        </div>
      </a>
      <% } %>
    </div>
    <% } else { %>
    <div class="message is-info">
      <div class="message-body">
        There are no <%= configFunctions.getConfigProperty('timesheets.sectionName').toLowerCase() %> to display for today.
      </div>
    </div>
    <% } %>
  </div>
  <div class="column">
    <div class="panel">
      <a class="panel-block" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>">
        <div class="media">
          <div class="media-left">
            <span class="fa-layers fa-4x">
              <i class="fa-solid <%= configFunctions.getConfigProperty('timesheets.iconClass') %>"></i>
              <i class="fa-solid fa-magnifying-glass" data-fa-transform="shrink-8 right-7 down-5" data-fa-glow="10"></i>
            </span>
          </div>
          <div class="media-content">
            <h2 class="title is-4 mb-0 has-text-link">
              <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %> Search
            </h2>
            <p>
              Search by date, type, supervisor, and more.
            </p>
          </div>
        </div>
      </a>
      <% if (user.userProperties.timesheets.canUpdate) { %>
      <div class="panel-block">
        <a class="button is-success is-fullwidth" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>/new">
          <span class="icon"><i class="fa-solid fa-plus"></i></span>
          <span>Create New <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %></span>
        </a>
      </div>
      <% } %>
    </div>
  </div>
</div>
<% } %>

<% if (configFunctions.getConfigProperty('workOrders.isEnabled') && user.userProperties.workOrders.canView) { %>
<div class="columns">
  <div class="column">
    <div class="panel is-info" id="panel--workOrderHighlights">
      <div class="panel-heading">
        <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %> Highlights
      </div>
      <div class="panel-tabs">
        <a class="is-active" data-work-order-type="recent" href="#">
          <span class="icon is-small"><i class="fa-solid fa-clock"></i></span>
          <span>Recently Created</span>
        </a>
        <a data-work-order-type="overdue" href="#">
          <span class="icon is-small"><i class="fa-solid fa-exclamation-triangle"></i></span>
          <span>Overdue</span>
        </a>
      </div>
      <% if (recentWorkOrders.length > 0) { %>
      <% for (const workOrder of recentWorkOrders) { %>
      <a class="panel-block" data-work-order-type="recent" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('workOrders.router') %>/<%= workOrder.workOrderId %>">
        <div class="media">
          <div class="media-left">
            <i class="fa-solid fa-2x <%= configFunctions.getConfigProperty('workOrders.iconClass') %>"></i>
          </div>
          <div class="media-content">
            #<%= workOrder.workOrderNumber %> - <%= workOrder.workOrderType %><br />
            <small>
              <% if (workOrder.locationAddress1) { %>
              <strong>Location:</strong> <%= workOrder.locationAddress1 %>
              <% } %>
              <% if (workOrder.workOrderOpenDateTime) { %>
              | <strong>Opened:</strong> <%= dateTimeFunctions.dateToString(workOrder.workOrderOpenDateTime) %>
              <% } %>
            </small>
          </div>
        </div>
      </a>
      <% } %>
      <% } else { %>
      <div class="panel-block" data-work-order-type="recent">
        <div class="message is-info has-text-centered" style="width: 100%;">
          <div class="message-body">
            No recent work orders.
          </div>
        </div>
      </div>
      <% } %>
      <% if (overdueWorkOrders.length > 0) { %>
      <% for (const workOrder of overdueWorkOrders) { %>
      <a class="panel-block is-hidden" data-work-order-type="overdue" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('workOrders.router') %>/<%= workOrder.workOrderId %>">
        <div class="media">
          <div class="media-left">
            <i class="fa-solid fa-2x fa-exclamation-triangle has-text-danger"></i>
          </div>
          <div class="media-content">
            #<%= workOrder.workOrderNumber %> - <%= workOrder.workOrderType %><br />
            <small>
              <% if (workOrder.locationAddress1) { %>
              <strong>Location:</strong> <%= workOrder.locationAddress1 %>
              <% } %>
              <% if (workOrder.workOrderDueDateTime) { %>
              | <strong>Due:</strong> <%= dateTimeFunctions.dateToString(workOrder.workOrderDueDateTime) %>
              <% } %>
            </small>
          </div>
        </div>
      </a>
      <% } %>
      <% } else { %>
      <div class="panel-block is-hidden" data-work-order-type="overdue">
        <div class="message is-success has-text-centered" style="width: 100%;">
          <div class="message-body">
            No overdue work orders.
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
  <div class="column">
    <div class="panel">
      <a class="panel-block" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('workOrders.router') %>">
        <div class="media">
          <div class="media-left">
            <span class="fa-layers fa-4x">
              <i class="fa-solid <%= configFunctions.getConfigProperty('workOrders.iconClass') %>"></i>
              <i class="fa-solid fa-magnifying-glass" data-fa-transform="shrink-8 right-7 down-5" data-fa-glow="10"></i>
            </span>
          </div>
          <div class="media-content">
            <h2 class="title is-4 mb-0 has-text-link">
              <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %> Search
            </h2>
            <p>
              Search by number, type, location, status, and more.
            </p>
          </div>
        </div>
      </a>
      <% if (user.userProperties.workOrders.canUpdate) { %>
      <div class="panel-block">
        <a class="button is-success is-fullwidth" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('workOrders.router') %>/new">
          <span class="icon"><i class="fa-solid fa-plus"></i></span>
          <span>Create New <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %></span>
        </a>
      </div>
      <% } %>
      <div class="panel-block is-block">
        <div class="columns is-mobile">
          <div class="column">
            <a class="button is-fullwidth is-link is-light is-block" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('workOrders.router') %>/planner">
              <i class="fa-solid fa-3x fa-clipboard-list"></i><br />
              Planner
            </a>
          </div>
          <div class="column">
            <a class="button is-fullwidth is-link is-light is-block" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('workOrders.router') %>/calendar">
              <i class="fa-solid fa-3x fa-calendar"></i><br />
              Calendar
            </a>
          </div>
          <div class="column">
            <a class="button is-fullwidth is-link is-light is-block" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('workOrders.router') %>/map">
              <i class="fa-solid fa-3x fa-map"></i><br />
              Open Map
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>

<div class="columns">
  <div class="column">
    <div class="panel">
      <a class="panel-block" href="<%= urlPrefix %>/dashboard/reports">
        <div class="media">
          <div class="media-left">
            <i class="fa-solid fa-4x fa-file-lines"></i>
          </div>
          <div class="media-content">
            <h2 class="title is-4 mb-0 has-text-link">
              Reports and Exports
            </h2>
            <p>
              Generate and view various reports and exports.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="panel">
      <a class="panel-block" href="<%= urlPrefix %>/dashboard/userSettings">
        <div class="media">
          <div class="media-left">
            <i class="fa-solid fa-4x fa-user-gear"></i>
          </div>
          <div class="media-content">
            <h2 class="title is-4 mb-0 has-text-link">
              User Settings
            </h2>
            <p>
              Update your personal settings and preferences.
            </p>
          </div>
        </div>
      </a>
      <a
        class="panel-block"
        href="https://cityssm.github.io/shiftlog/docs"
        rel="noopener noreferrer"
        target="_blank"
      >
        <div class="media">
          <div class="media-left">
            <i class="fa-solid fa-4x fa-circle-question"></i>
          </div>
          <div class="media-content">
            <h2 class="title is-4 mb-0 has-text-link">
              Help Documentation
            </h2>
            <p>
              Tips and tricks to get the most out of
              <%= configFunctions.getConfigProperty("application.applicationName") %>
              <%= configFunctions.getConfigProperty("application.applicationName") === 'ShiftLog' ? '' : '(ShiftLog)' %>.
            </p>
          </div>
        </div>
      </a>
      <div class="panel-block is-block">
        <a
          class="button is-fullwidth is-link is-light"
          href="https://github.com/cityssm/shiftlog"
          title="Latest Updates, Issue Tracker, Say Hello"
          rel="noopener noreferrer"
          target="_blank"
        >
          <span class="icon">
            <i class="fa-brands fa-github"></i>
          </span>
          <span>GitHub</span>
        </a>
      </div>
    </div>
  </div>
</div>

<% if (user.userProperties.isAdmin) { %>
<details class="panel mb-5 collapsable-panel">
  <summary class="panel-heading is-clickable">
    <span class="icon-text">
      <span class="icon">
        <i class="fa-solid fa-chevron-right details-chevron"></i>
      </span>
      <span class="has-text-weight-semibold mr-2">
        Administrator Tools
      </span>
    </span>
  </summary>
  <a class="panel-block" href="<%= urlPrefix %>/admin/users">
    <div class="media">
      <div class="media-left">
        <span class="fa-layers fa-4x">
          <i class="fa-solid fa-users"></i>
          <i class="fa-solid fa-cog" data-fa-transform="shrink-8 right-7 down-5" data-fa-glow="10"></i>
        </span>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          User Management
        </h2>
        <p>
          Manage user accounts and permissions.
        </p>
      </div>
    </div>
  </a>
  <a class="panel-block" href="<%= urlPrefix %>/admin/userGroups">
    <div class="media">
      <div class="media-left">
        <span class="fa-layers fa-4x">
          <i class="fa-solid fa-user-group"></i>
          <i class="fa-solid fa-cog" data-fa-transform="shrink-8 right-7 down-5" data-fa-glow="10"></i>
        </span>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          User Group Management
        </h2>
        <p>
          Create and manage user groups and group members.
        </p>
      </div>
    </div>
  </a>
  <a class="panel-block" href="<%= urlPrefix %>/admin/settings">
    <div class="media">
      <div class="media-left">
        <i class="fa-solid fa-4x fa-sliders"></i>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          Settings Management
        </h2>
        <p>
          Manage application settings.
        </p>
      </div>
    </div>
  </a>
  <% if (configFunctions.getConfigProperty('workOrders.isEnabled')) { %>
  <a class="panel-block" href="<%= urlPrefix %>/admin/workOrderTypes">
    <div class="media">
      <div class="media-left">
        <span class="fa-layers fa-4x">
          <i class="fa-solid <%= configFunctions.getConfigProperty('workOrders.iconClass') %>"></i>
          <i class="fa-solid fa-cog" data-fa-transform="shrink-8 right-7 down-5" data-fa-glow="10"></i>
        </span>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %> Type Management
        </h2>
        <p>
          Manage <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular').toLowerCase() %> types.
        </p>
      </div>
    </div>
  </a>
  <% } %>
  <a class="panel-block" href="<%= urlPrefix %>/admin/tags">
    <div class="media">
      <div class="media-left">
        <i class="fa-solid fa-4x fa-tags"></i>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          Tag Management
        </h2>
        <p>
          Manage tags used across the application.
        </p>
      </div>
    </div>
  </a>
  <a class="panel-block" href="<%= urlPrefix %>/admin/dataLists">
    <div class="media">
      <div class="media-left">
        <i class="fa-solid fa-4x fa-list"></i>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          Data List Management
        </h2>
        <p>
          Manage equipment types, shift types, and other data lists.
        </p>
      </div>
    </div>
  </a>
  <a class="panel-block" href="<%= urlPrefix %>/admin/employees">
    <div class="media">
      <div class="media-left">
        <i class="fa-solid fa-4x fa-address-card"></i>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          Employee Management
        </h2>
        <p>
          Manage employee records and information.
        </p>
      </div>
    </div>
  </a>
  <a class="panel-block" href="<%= urlPrefix %>/admin/equipment">
    <div class="media">
      <div class="media-left">
        <i class="fa-solid fa-4x fa-truck"></i>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          Equipment Maintenance
        </h2>
        <p>
          Manage equipment records and information.
        </p>
      </div>
    </div>
  </a>
  <a class="panel-block" href="<%= urlPrefix %>/admin/locations">
    <div class="media">
      <div class="media-left">
        <i class="fa-solid fa-4x fa-map-marker-alt"></i>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          Location Maintenance
        </h2>
        <p>
          Manage suggested locations.
        </p>
      </div>
    </div>
  </a>
</details>
<% } %>


<%- await include('../_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/dashboard.js"></script>

<%- await include('../_footerB'); -%>