<%- include('../_header'); -%>

<h1 class="title is-1">
  <%= configFunctions.getConfigProperty("application.applicationName") %>
</h1>

<div class="panel">
  <a class="panel-block" href="<%= urlPrefix %>/dashboard/userSettings">
    <div class="media">
      <div class="media-left">
        <i class="fa-solid fa-4x fa-cog"></i>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          User Settings
        </h2>
        <p>
          Manage your personal user settings.
        </p>
      </div>
    </div>
  </a>
</div>

<% if (user.userProperties.isAdmin) { %>
<h2 class="title is-3">
  Administrator Tools
</h2>

<div class="panel">
  <a class="panel-block" href="<%= urlPrefix %>/admin/users">
    <div class="media">
      <div class="media-left">
        <span class="fa-layers fa-4x">
          <i class="fa-solid fa-users"></i>
          <i class="fa-solid fa-cog" data-fa-transform="shrink-8 right-7 down-5" data-fa-glow="10"></i>
        </span>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          User Management
        </h2>
        <p>
          Manage user accounts and permissions.
        </p>
      </div>
    </div>
  </a>
  <a class="panel-block" href="<%= urlPrefix %>/admin/userGroups">
    <div class="media">
      <div class="media-left">
        <span class="fa-layers fa-4x">
          <i class="fa-solid fa-user-group"></i>
          <i class="fa-solid fa-cog" data-fa-transform="shrink-8 right-7 down-5" data-fa-glow="10"></i>
        </span>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          User Group Management
        </h2>
        <p>
          Create and manage user groups and group members.
        </p>
      </div>
    </div>
  </a>
  <a class="panel-block" href="<%= urlPrefix %>/admin/settings">
    <div class="media">
      <div class="media-left">
        <i class="fa-solid fa-4x fa-sliders"></i>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          Settings Management
        </h2>
        <p>
          Manage application settings.
        </p>
      </div>
    </div>
  </a>
  <a class="panel-block" href="<%= urlPrefix %>/admin/dataLists">
    <div class="media">
      <div class="media-left">
        <i class="fa-solid fa-4x fa-list"></i>
      </div>
      <div class="media-content">
        <h2 class="title is-4 mb-0 has-text-link">
          Data List Management
        </h2>
        <p>
          Manage equipment types, shift types, and other data lists.
        </p>
      </div>
    </div>
  </a>
</div>
<% } %>


<%- include('../_footerA'); -%>

<%- include('../_footerB'); -%>