<%- await include('_header-print'); -%>

<div class="columns">
  <div class="column">
    <h1 class="title is-2">
      <%= shift.shiftTypeDataListItem ?? '' %>
      -
      <%= shift.shiftTimeDataListItem ?? '' %>
    </h1>
  </div>
  <div class="column is-narrow has-text-right">
    <span class="title is-3"><%= dateTimeFunctions.dateToString(shift.shiftDate) %></span><br />
    #<%= shift.shiftId %>
  </div>
</div>

<div class="box avoid-page-break">
  <div class="columns">
    <div class="column is-4">
      <div class="field">
        <label class="label">Supervisor</label>
        <p>
          <% if (shift.supervisorLastName && shift.supervisorFirstName) { %>
          <%= shift.supervisorLastName %>, <%= shift.supervisorFirstName %>
          <% } else { %>
          (Not Set)
          <% } %>
        </p>
      </div>
    </div>
    <div class="column">      
      <div class="field">
        <label class="label">Description</label>
        <p style="white-space: pre-wrap;"><%= shift.shiftDescription || '(No description)' %></p>
      </div>
    </div>
  </div>
</div>

<% if (shiftCrews.length > 0) { %>
<div class="box avoid-page-break report-block">
  <button class="button is-delete-report-block-button" type="button" title="Remove Crews section from the report">
    <span class="icon is-small">
      <i class="fa-solid fa-xmark"></i>
    </span>
  </button>
  <h2 class="title is-4">Crews</h2>
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Crew</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <% for (const crew of shiftCrews) { %>
      <tr>
        <td><%= crew.crewName ?? '' %></td>
        <td><%= crew.shiftCrewNote %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% } %>

<% if (shiftEmployees.length > 0) { %>
<div class="box avoid-page-break report-block">
  <button class="button is-delete-report-block-button" type="button" title="Remove Employees section from the report">
    <span class="icon is-small">
      <i class="fa-solid fa-xmark"></i>
    </span>
  </button>
  <h2 class="title is-4">Employees</h2>
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Employee</th>
        <th>Crew</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <% for (const employee of shiftEmployees) { %>
      <tr>
        <td>
          <% if (employee.lastName && employee.firstName) { %>
          <%= employee.lastName %>, <%= employee.firstName %>
          <% } else { %>
          <%= employee.employeeNumber %>
          <% } %>
        </td>
        <td><%= employee.crewName ?? '' %></td>
        <td><%= employee.shiftEmployeeNote %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% } %>

<% if (shiftEquipment.length > 0) { %>
<div class="box avoid-page-break report-block">
  <button class="button is-delete-report-block-button" type="button" title="Remove Equipment section from the report">
    <span class="icon is-small">
      <i class="fa-solid fa-xmark"></i>
    </span>
  </button>
  <h2 class="title is-4">Equipment</h2>
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Equipment</th>
        <th>Employee</th>
        <th>Hours Used</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <% for (const equipment of shiftEquipment) { %>
      <tr>
        <td><%= equipment.equipmentName ?? '' %></td>
        <td>
          <% if (equipment.employeeLastName && equipment.employeeFirstName) { %>
          <%= equipment.employeeLastName %>, <%= equipment.employeeFirstName %>
          <% } else if (equipment.employeeNumber) { %>
          <%= equipment.employeeNumber %>
          <% } %>
        </td>
        <td><%= equipment.hoursUsed ?? '' %></td>
        <td><%= equipment.shiftEquipmentNote %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% } %>

<% if (shiftWorkOrders.length > 0) { %>
<div class="box avoid-page-break report-block">
  <button class="button is-delete-report-block-button" type="button" title="Remove Work Orders section from the report">
    <span class="icon is-small">
      <i class="fa-solid fa-xmark"></i>
    </span>
  </button>
  <h2 class="title is-4">Work Orders</h2>
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Work Order #</th>
        <th>Type</th>
        <th>Status</th>
        <th>Details</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <% for (const workOrder of shiftWorkOrders) { %>
      <tr>
        <td>#<%= workOrder.workOrderNumber %></td>
        <td><%= workOrder.workOrderType ?? '' %></td>
        <td><%= workOrder.workOrderStatusDataListItem ?? '' %></td>
        <td><%= workOrder.workOrderDetails.substring(0, 100) %><%= workOrder.workOrderDetails.length > 100 ? '...' : '' %></td>
        <td><%= workOrder.shiftWorkOrderNote %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% } %>

<% if (allMilestones.length > 0) { %>
<div class="box avoid-page-break report-block">
  <button class="button is-delete-report-block-button" type="button" title="Remove Work Order Milestones section from the report">
    <span class="icon is-small">
      <i class="fa-solid fa-xmark"></i>
    </span>
  </button>
  <h2 class="title is-4">Work Order Milestones</h2>
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Work Order #</th>
        <th>Title</th>
        <th>Description</th>
        <th>Due Date</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <% for (const milestone of allMilestones) { %>
      <%
      const workOrder = shiftWorkOrders.find(wo => wo.workOrderId === milestone.workOrderId);
      %>
      <tr>
        <td><%= workOrder ? '#' + workOrder.workOrderNumber : '' %></td>
        <td><%= milestone.milestoneTitle %></td>
        <td><%= milestone.milestoneDescription %></td>
        <td>
          <% if (milestone.milestoneDueDateTime) { %>
          <%= dateTimeFunctions.dateToString(milestone.milestoneDueDateTime) %>
          <%= dateTimeFunctions.dateToTimeString(milestone.milestoneDueDateTime) %>
          <% } %>
        </td>
        <td>
          <% if (milestone.milestoneCompleteDateTime) { %>
          <%= dateTimeFunctions.dateToString(milestone.milestoneCompleteDateTime) %>
          <%= dateTimeFunctions.dateToTimeString(milestone.milestoneCompleteDateTime) %>
          <% } %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% } %>

<%- await include('_footer-print'); -%>
