<%- await include('_header-print'); -%>

<div class="columns is-vcentered" id="pageHeader">
  <div class="column">
    <h1 class="title is-3">
      #<%= workOrder.workOrderNumber %>
    </h1>
  </div>
  <div class="column is-narrow">
    <%- workOrderNumberBarcodeSvg %>
  </div>
</div>

<div class="columns">
  <div class="column">
    <div class="box avoid-page-break">
      <div class="columns">
        <div class="column">
          <div class="field">
            <span class="label"><%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %> Type</span>
            <p><%= workOrder.workOrderType ?? '(Not Set)' %></p>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label">Status</label>
            <p><%= workOrder.workOrderStatusDataListItem ?? '(No Status)' %></p>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Details</label>
        <p style="white-space: pre-wrap;"><%= workOrder.workOrderDetails || '(No details)' %></p>
      </div>
    </div>
    <div class="box avoid-page-break">
      <div class="field">
        <label class="label">Requestor Name</label>
        <p><%= workOrder.requestorName || '(Not provided)' %></p>
      </div>
      <div class="field">
        <label class="label">Requestor Contact Info</label>
        <p><%= workOrder.requestorContactInfo || '(Not provided)' %></p>
      </div>
      <div class="field">
        <label class="label">Assigned To</label>
        <p><%= workOrder.assignedToDataListItem ?? '(Not Assigned)' %></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box avoid-page-break">
      <div class="field">
        <label class="label">Location Address</label>
        <p>
          <% if (workOrder.locationAddress1) { %>
          <%= workOrder.locationAddress1 %><br />
          <% } %>
          <% if (workOrder.locationAddress2) { %>
          <%= workOrder.locationAddress2 %><br />
          <% } %>
          <% if (workOrder.locationCityProvince) { %>
          <%= workOrder.locationCityProvince %>
          <% } %>
          <% if (!workOrder.locationAddress1 && !workOrder.locationAddress2 && !workOrder.locationCityProvince) { %>
          (No address)
          <% } %>
        </p>
      </div>
    </div>
    <div class="box avoid-page-break">
      <div class="field">
        <label class="label">Open Date/Time</label>
        <p>
          <% if (workOrder.workOrderOpenDateTime) { %>
          <%= dateTimeFunctions.dateToString(workOrder.workOrderOpenDateTime) %>
          <%= dateTimeFunctions.dateToTimeString(workOrder.workOrderOpenDateTime) %>
          <% } else { %>
          (Not set)
          <% } %>
        </p>
      </div>
      <div class="field">
        <label class="label">Due Date/Time</label>
        <p>
          <% if (workOrder.workOrderDueDateTime) { %>
          <%= dateTimeFunctions.dateToString(workOrder.workOrderDueDateTime) %>
          <%= dateTimeFunctions.dateToTimeString(workOrder.workOrderDueDateTime) %>
          <% } else { %>
          (Not set)
          <% } %>
        </p>
      </div>
      <div class="field">
        <label class="label">Close Date/Time</label>
        <p>
          <% if (workOrder.workOrderCloseDateTime) { %>
          <%= dateTimeFunctions.dateToString(workOrder.workOrderCloseDateTime) %>
          <%= dateTimeFunctions.dateToTimeString(workOrder.workOrderCloseDateTime) %>
          <% } else { %>
          (Not closed)
          <% } %>
        </p>
      </div>
    </div>
  </div>
</div>

<!-- eslint-disable html/indent -->
<% 
  if (Object.keys(workOrder.moreInfoFormData).length > 0) {
    const formNames = typeof workOrder.moreInfoFormData.moreInfo_formName === 'string' ? [workOrder.moreInfoFormData.moreInfo_formName] : workOrder.moreInfoFormData.moreInfo_formName;
    for (const formName of formNames) {
      const formConfig = availableWorkOrderMoreInfoForms[formName];
      if (!formConfig) {
        continue;
      }
      
%>
<div class="box avoid-page-break">
  <h2 class="title is-4"><%= formConfig.formName %></h2>
  <% for (const [fieldKey, fieldName] of Object.entries(formConfig.formFields)) { %>
    <div class="field">
      <label class="label"><%= fieldName %></label>
      <p>
        <%= workOrder.moreInfoFormData[fieldKey] ?? '-' %>
      </p>
    </div>
  <% } %>
</div>
<%  }
  }
%>

<% if (milestones.length > 0) { %>
<div class="box avoid-page-break report-block">
  <button class="button is-delete-report-block-button" type="button" title="Remove Milestones section from the report">
    <span class="icon is-small">
      <i class="fa-solid fa-xmark"></i>
    </span>
  </button>
  <h2 class="title is-4">Milestones</h2>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Title</th>
        <th>Assigned To</th>
        <th>Due Date</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody>
      <% for (const milestone of milestones) { %>
      <tr>
        <td>
          <%= milestone.milestoneTitle %><br />
          <span class="is-size-7"><%= milestone.milestoneDescription %></span>
        </td>
        <td><%= milestone.assignedToDataListItem ?? '' %></td>
        <td>
          <% if (milestone.milestoneDueDateTime) { %>
          <%= dateTimeFunctions.dateToString(milestone.milestoneDueDateTime) %>
          <%= dateTimeFunctions.dateToTimeString(milestone.milestoneDueDateTime) %>
          <% } %>
        </td>
        <td>
          <% if (milestone.milestoneCompleteDateTime) { %>
          <%= dateTimeFunctions.dateToString(milestone.milestoneCompleteDateTime) %>
          <%= dateTimeFunctions.dateToTimeString(milestone.milestoneCompleteDateTime) %>
          <% } %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% } %>

<% if (notes.length > 0) { %>
<div class="box report-block">
  <button class="button is-delete-report-block-button" type="button" title="Remove Notes section from the report">
    <span class="icon is-small">
      <i class="fa-solid fa-xmark"></i>
    </span>
  </button>
  <h2 class="title is-4">Notes</h2>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Note</th>
        <th>Author</th>
        <th>Date/Time</th>
      </tr>  
    </thead>
    <tbody>
      <% for (const note of notes) { %>
      <tr>
        <td style="white-space: pre-wrap;"><%= note.noteText %></td>
        <td><%= note.recordCreate_userName %></td>
        <td>
          <%= dateTimeFunctions.dateToString(note.recordCreate_dateTime) %>
          <%= dateTimeFunctions.dateToTimeString(note.recordCreate_dateTime) %>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<% } %>

<% if (costs.length > 0) { %>
<div class="box avoid-page-break report-block">
  <button class="button is-delete-report-block-button" type="button" title="Remove Costs section from the report">
    <span class="icon is-small">
      <i class="fa-solid fa-xmark"></i>
    </span>
  </button>
  <h2 class="title is-4">Costs</h2>
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Amount</th>
        <th>Description</th>
        <th>Added By</th>
        <th>Date/Time</th>
      </tr>
    </thead>
    <tbody>
      <% 
        let totalCost = 0;
        for (const cost of costs) {
          totalCost += cost.costAmount;
      %>
      <tr>
        <td>$<%= cost.costAmount.toFixed(2) %></td>
        <td><%= cost.costDescription %></td>
        <td><%= cost.recordCreate_userName %></td>
        <td>
          <%= dateTimeFunctions.dateToString(cost.recordCreate_dateTime) %>
          <%= dateTimeFunctions.dateToTimeString(cost.recordCreate_dateTime) %>
        </td>
      </tr>
      <% } %>
    </tbody>
    <tfoot>
      <tr>
        <th>$<%= totalCost.toFixed(2) %></th>
        <th colspan="3">Total</th>
      </tr>
    </tfoot>
  </table>
</div>
<% } %>

<%- await include('_footer-print'); -%>