<div class="columns">
  <div class="column">
    <h3 class="title is-4">
      Related <%= configFunctions.getConfigProperty('timesheets.sectionName') %>
    </h3>
  </div>
  <% if (isEdit && user.userProperties.timesheets.canUpdate) { %>
  <div class="column is-narrow">
    <a
      class="button is-small is-success"
      href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>/new?shiftId=<%= shift.shiftId %>"
    >
      <span class="icon"><i class="fa-solid fa-plus"></i></span>
      <span>
        Create <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %>
        from this <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %>
      </span>
    </a>
  </div>
  <% } %>
</div>

<% if (shiftTimesheets.length > 0) { %>
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th><%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %> ID</th>
      <th>Date</th>
      <th>Type</th>
      <th>Title</th>
      <th>Supervisor</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <!-- eslint-disable html/indent -->
    <% for (const timesheet of shiftTimesheets) { %>
    <% 
      let statusBadge

      if (timesheet.recordSubmitted_dateTime) {
        statusBadge = '<span class="tag is-success">Submitted</span>'
      } else if (
        timesheet.employeesEntered_dateTime ||
        timesheet.equipmentEntered_dateTime
      ) {
        statusBadge = '<span class="tag is-warning">Data Entered</span>'
      } else {
        statusBadge = '<span class="tag is-info">Draft</span>'
      }
    %>
    <tr>
      <td>
        <a href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>/<%= timesheet.timesheetId %>">
          #<%= timesheet.timesheetId %>
        </a>
      </td>
      <td><%= dateTimeFunctions.dateToString(timesheet.timesheetDate) %></td>
      <td><%= timesheet.timesheetTypeDataListItem %></td>
      <td><%= timesheet.timesheetTitle %></td>
      <td>
        <%= timesheet.supervisorLastName %>, <%= timesheet.supervisorFirstName %>
      </td>
      <td><%- statusBadge %></td>
    </tr>
    <% } %>
  </tbody>
</table>
<% } else { %>
<div class="message is-info">
  <p class="message-body">
    No related
    <%= configFunctions.getConfigProperty('timesheets.sectionName').toLowerCase() %>
    found for this
    <%= configFunctions.getConfigProperty('shifts.sectionNameSingular').toLowerCase() %>.
  </p>
</div>
<% } %>
