<div class="columns">
  <div class="column">
    <h3 class="title is-4">
      Related <%= configFunctions.getConfigProperty('timesheets.sectionName') %>
    </h3>
  </div>
  <% if (isEdit && user.userProperties.timesheets.canUpdate) { %>
  <div class="column is-narrow">
    <a
      class="button is-small is-success"
      href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>/new?shiftId=<%= shift.shiftId %>"
    >
      <span class="icon"><i class="fa-solid fa-plus"></i></span>
      <span>
        Create <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %>
        from this <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %>
      </span>
    </a>
  </div>
  <% } %>
</div>

<div id="container--shiftTimesheets"></div>
