<aside class="menu" aria-label="<%= configFunctions.getConfigProperty('shifts.sectionName') %> Menu">
  <h2 class="menu-label is-hidden-touch">
    <%= configFunctions.getConfigProperty('shifts.sectionName') %>
  </h2>
  <ul class="menu-list">
    <li>
      <a
        href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('shifts.router') %>"
        title="<%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %> Search">
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon is-small"><i class="fa-solid fa-search"></i></span>
          </div>
          <div class="column is-hidden-touch">
            <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %> Search
          </div>
        </div>
      </a>
      <% if (user.userProperties.shifts.canUpdate) { %>
      <ul>
        <li>
          <a
            href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('shifts.router') %>/new"
            title="Create New <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %>"
          >
            <span class="is-hidden-touch">Create New <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %></span>
            <span class="icon is-hidden-desktop"><i class="fa-solid fa-plus"></i></span>
          </a>
        </li>
      </ul>
      <% } %>
    </li>
    <% if (user.userProperties.shifts.canManage) { %>
    <li>
      <a
        class="<%= headTitle.endsWith(' - Record Recovery') ? 'is-active' : '' %>"
        href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('shifts.router') %>/recovery"
        title="Record Recovery">
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon is-small"><i class="fa-solid fa-trash-arrow-up"></i></span>
          </div>
          <div class="column is-hidden-touch">
            Record Recovery
          </div>
        </div>
      </a>
    </li>
    <% } %>
  </ul>
  <p class="menu-label is-hidden-touch">
    Links
  </p>
  <ul class="menu-list">
    <li>
      <a
        href="<%= urlPrefix %>/dashboard/reports/?tab=shifts"
        title="<%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %> Reports">
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon is-small"><i class="fa-solid fa-file-lines"></i></span>
          </div>
          <div class="column is-hidden-touch">
            Reports
          </div>
        </div>
      </a>
    </li>

    <li>
      <a
        href="https://cityssm.github.io/shiftlog/docs/shifts.html"
        title="<%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %> Help"
        rel="noopener noreferrer"
        target="_blank"
      >
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon is-small">
              <i class="fa-solid fa-question-circle"></i>
            </span>
          </div>
          <div class="column is-hidden-touch">
            Help
          </div>
        </div>
      </a>
    </li>
  </ul>
</aside>