<%- await include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li>
      <a href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('shifts.router') %>">
        <span class="icon is-small"><i class="fa-solid <%= configFunctions.getConfigProperty('shifts.iconClass') %>"></i></span>
        <span><%= configFunctions.getConfigProperty('shifts.sectionName') %></span>
      </a>
    </li>
    <% if (isCreate) { %>
      <li class="is-active">
        <a href="#" aria-current="page">
          <span>
            Create New <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %>
          </span>
        </a>
      </li>
    <% } else if (isEdit) { %>
      <li>
        <a href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('shifts.router') %>/<%= shift.shiftId %>">
          <span>
            <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %> #<%= shift.shiftId %>
          </span>
        </a>
      </li>
      <li class="is-active">
        <a href="#" aria-current="page">
          <span>Edit <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %></span>
        </a>
      </li>
    <% } else { %>
      <li class="is-active">
        <a href="#" aria-current="page">
          <span>
            <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %> #<%= shift.shiftId %>
          </span>
        </a>
      </li>
    <% } %>
  </ul>
</nav>

<h1 class="title is-1">
  <% if (isCreate) { %>
  Create New <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %>
  <% } else { %>
  <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %> #<%= shift.shiftId %>
  <% } %>
</h1>

<% if (isEdit) { %>
  <% if (shiftTypes.length === 0) { %>
  <div class="message is-danger">
    <div class="message-body">
      <p>
        <strong>No shift types available.</strong><br />
        Please contact your system administrator to set up shift types before creating
        <%= configFunctions.getConfigProperty('shifts.sectionNameSingular').toLowerCase() %>s.
      </p>
      <% if (user.userProperties.isAdmin) { %>
      <p class="has-text-right">
        <a class="button is-link" href="<%= urlPrefix %>/admin/dataLists">
          Data List Management
        </a>
      </p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (shiftTimes.length === 0) { %>
  <div class="message is-danger">
    <div class="message-body">
      <p>
        <strong>No shift times available.</strong><br />
        Please contact your system administrator to set up shift times before creating
        <%= configFunctions.getConfigProperty('shifts.sectionNameSingular').toLowerCase() %>s.
      </p>
      <% if (user.userProperties.isAdmin) { %>
      <p class="has-text-right">
        <a class="button is-link" href="<%= urlPrefix %>/admin/dataLists">
          Data List Management
        </a>
      </p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (supervisors.length === 0) { %>
  <div class="message is-danger">
    <div class="message-body">
      <p>
        <strong>No supervisors available.</strong><br />
        Please contact your system administrator to set up supervisors before creating
        <%= configFunctions.getConfigProperty('shifts.sectionNameSingular').toLowerCase() %>s.
      </p>
      <% if (user.userProperties.isAdmin) { %>
      <p class="has-text-right">
        <a class="button is-link" href="<%= urlPrefix %>/admin/employees">
          Employee Management
        </a>
      </p>
      <% } %>
    </div>
  </div>
  <% } %>
<% } %>

<form id="form--shift">
  <div class="panel">
    <div class="panel-block is-block">
      <input type="hidden" id="shift--shiftId" name="shiftId" value="<%= shift.shiftId ?? '' %>" />
    
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label" for="shift--shiftTypeDataListItemId">
              <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %> Type
            </label>
            <div class="control">
              <div class="select is-fullwidth">
                <select id="shift--shiftTypeDataListItemId" name="shiftTypeDataListItemId" required>
                  <% if (isCreate) { %>
                  <option value="">(Select Type)</option>
                  <% } %>
                  <% let shiftTypeFound = false %>
                  <% for (const shiftType of shiftTypes) { %>
                  <option
                    value="<%= shiftType.dataListItemId %>"
                    <% if (shift.shiftTypeDataListItemId === shiftType.dataListItemId) { %>
                    <% shiftTypeFound = true; %>
                    selected
                    <% } %>
                  >
                    <%= shiftType.dataListItem %>
                  </option>
                  <% } %>
                  <% if (!shiftTypeFound && shift.shiftTypeDataListItemId !== -1) { %>
                  <option value="<%= shift.shiftTypeDataListItemId %>" selected>
                    <%= shift.shiftTypeDataListItem %>
                    <%= isEdit ? "(Inactive)" : "" %>
                  </option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label" for="shift--supervisorEmployeeNumber">Supervisor</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select id="shift--supervisorEmployeeNumber" name="supervisorEmployeeNumber" required>
                  <% if (isCreate) { %>
                  <option value="">(Select Supervisor)</option>
                  <% } %>
                  <% let supervisorFound = false %>
                  <% for (const supervisor of supervisors) { %>
                  <option
                    value="<%= supervisor.employeeNumber %>"
                    <% if (shift.supervisorEmployeeNumber === supervisor.employeeNumber || (isCreate && supervisor.userName === user.userName)) { %>
                    <% supervisorFound = true; %>
                    selected
                    <% } %>
                    %>
                  >
                    <%= supervisor.lastName %>, <%= supervisor.firstName %>
                  </option>
                  <% } %>
                  <% if (!supervisorFound && shift.supervisorEmployeeNumber !== '') { %>
                  <option value="<%= shift.supervisorEmployeeNumber %>" selected>
                    <%= shift.supervisorLastName %>, <%= shift.supervisorFirstName %>
                    <%= isEdit ? "(Inactive)" : "" %>
                  </option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label" for="shift--shiftDateString">Date</label>
            <div class="control">
              <input
                class="input"
                id="shift--shiftDateString"
                name="shiftDateString"
                type="text"
                value="<%= shift.shiftDate ? shift.shiftDate.toISOString().split('T')[0] : '' %>"
                required
                placeholder="YYYY-MM-DD"
              />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label" for="shift--shiftTimeDataListItemId">
              Time
            </label>
            <div class="control">
              <div class="select is-fullwidth">
                <select id="shift--shiftTimeDataListItemId" name="shiftTimeDataListItemId" required>
                  <option value="">
                    (Select Time)
                  </option>
                  <% let shiftTimeFound = false %>
                  <% for (const shiftTime of shiftTimes) { %>
                  <option
                    value="<%= shiftTime.dataListItemId %>"
                    <% if (shift.shiftTimeDataListItemId === shiftTime.dataListItemId) { %>
                    <% shiftTimeFound = true; %>
                    selected
                    <% } %>
                  >
                    <%= shiftTime.dataListItem %>
                  </option>
                  <% } %>
                  <% if (!shiftTimeFound && shift.shiftTimeDataListItemId !== -1) { %>
                  <option value="<%= shift.shiftTimeDataListItemId %>" selected>
                    <%= shift.shiftTimeDataListItem %>
                    <%= isEdit ? "(Inactive)" : "" %>
                  </option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="field">
        <label class="label" for="shift--shiftDescription">Description</label>
        <div class="control">
          <textarea
            class="textarea"
            id="shift--shiftDescription"
            name="shiftDescription"
            rows="4"
            maxlength="200"
          ><%= shift.shiftDescription ?? '' %></textarea>
        </div>
      </div>
    </div>

  </div>

  <div class="columns is-vcentered is-fixed-bottom has-background-white has-shadow is-hidden-print">
    <div class="column">
      <% if (!isCreate) { %>
        <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %>
      #<%= shift.shiftId %>
      <% } %>
    </div>
    <div class="column is-narrow has-text-right">
      <div class="buttons is-right">
        <% if (isCreate) { %>
        <a class="button is-danger is-light" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('shifts.router') %>">
          Cancel
        </a>
        <% } else { %>
        <a class="button is-info is-light" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('shifts.router') %>/<%= shift.shiftId %>/print" target="_blank">
          <span class="icon is-small"><i class="fa-solid fa-print"></i></span>
          <span>Print</span>
        </a>
        <% } %>
        <% if (isEdit) { %>
        <div class="field has-addons">
          <p class="control">
            <button class="button is-primary is-light" type="submit" form="form--shift">
              <span class="icon is-small"><i class="fa-solid fa-save"></i></span>
              <span>
                <%= (isCreate ? "Create": "Update") %>
                <span class="is-hidden-mobile">
                  <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %>
                </span>
              </span>
            </button>
          </p>
          <% if (!isCreate) { %>
          <p class="control">
            <div class="dropdown is-up is-right">
              <div class="dropdown-trigger">
                <button class="button is-primary is-light" aria-haspopup="true" aria-controls="dropdown-shift-actions" type="button">
                  <span class="icon is-small">
                    <i class="fa-solid fa-angle-up"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-shift-actions" role="menu">
                <div class="dropdown-content">
                  <a href="#" class="dropdown-item" id="button--deleteShift">
                    <span class="icon has-text-danger"><i class="fa-solid fa-trash"></i></span>
                    <span>Delete Shift</span>
                  </a>
                </div>
              </div>
            </div>
          </p>
          <% } %>
        </div>
        <% } else if (user.userProperties.shifts.canUpdate && (shift.recordLock_dateTime === null || Date.now() <= shift.recordLock_dateTime.getTime()) && (shift.supervisorEmployeeNumber === user.employeeNumber || user.userProperties.shifts.canManage)) { %>
        <a class="button is-info is-light" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('shifts.router') %>/<%= shift.shiftId %>/edit">
          <span class="icon is-small"><i class="fa-solid fa-edit"></i></span>
          <span>
            Edit
            <span class="is-hidden-mobile"><%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %></span>
          </span>
        </a>
        <% } %>
      </div>
    </div>
  </div>
</form>

<% if (!isCreate) { %>
<div class="columns is-mobile mt-4" id="container--shiftTabs">
  <div class="column is-3-desktop is-narrow-touch">
    <div class="menu">
      <ul class="menu-list">
        <li>
          <a class="is-active" href="#tab--employees" title="Employees and Equipment">
            <div class="columns is-mobile is-1">
              <div class="column is-narrow">
                <span class="icon"><i class="fa-solid fa-users"></i></span>
              </div>
              <div class="column is-hidden-touch">
                Employees and Equipment
                <span class="icon is-small has-text-success ml-2 is-hidden" id="icon--hasEmployeesEquipment">
                  <i class="fa-solid fa-check"></i>
                </span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="#tab--tasks" title="Tasks">
            <div class="columns is-mobile is-1">
              <div class="column is-narrow">
                <span class="icon"><i class="fa-solid fa-list-check"></i></span>
              </div>
              <div class="column is-hidden-touch">
                Tasks
                <span class="icon is-small has-text-success ml-2 is-hidden" id="icon--hasTasks">
                  <i class="fa-solid fa-check"></i>
                </span>
              </div>
            </div>
          </a>
        </li> 
        <li>
          <a href="#tab--notes" title="Notes">
            <div class="columns is-mobile is-1">
              <div class="column is-narrow">
                <span class="icon"><i class="fa-solid fa-note-sticky"></i></span>
              </div>
              <div class="column is-hidden-touch">Notes</div>
            </div>
          </a>
        </li> 
        <% if (configFunctions.getConfigProperty('timesheets.isEnabled') && user.userProperties.timesheets.canView) { %>
        <li></li>
          <a href="#tab--timesheets" title="<%= configFunctions.getConfigProperty('timesheets.sectionName') %>">
            <div class="columns is-mobile is-1">
              <div class="column is-narrow">
                <span class="icon"><i class="fa-solid <%= configFunctions.getConfigProperty('timesheets.iconClass') %>"></i></span>
              </div>
              <div class="column is-hidden-touch"><%= configFunctions.getConfigProperty('timesheets.sectionName') %></div>
            </div>
          </a>
        </li>
        <% } %>
      </ul>  
    </div>
  </div>
  <div class="column">
    <div class="tabs-container">
      <div id="tab--employees">
        <%- await include('_edit-employees'); -%>
      </div>
      <div id="tab--tasks" class="is-hidden">
        <%- await include('_edit-tasks'); -%>
      </div>
      <div id="tab--notes" class="is-hidden">
        <%- await include('_edit-notes'); -%>
      </div>
      <% if (configFunctions.getConfigProperty('timesheets.isEnabled') && user.userProperties.timesheets.canView) { %>
      <div id="tab--timesheets" class="is-hidden">
        <%- await include('_edit-timesheets'); -%>
      </div>
      <% } %>
    </div>
  </div>
</div>
<% } %>

<%- await include('../_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/shifts.viewEdit.js"></script>

<% if (isEdit) { %>
<script src="<%= urlPrefix %>/javascripts/shifts.edit.js"></script>
<% } else { %>
<script src="<%= urlPrefix %>/javascripts/shifts.view.js"></script>
<% } %>

<% if (!isCreate) { %>
<script>
  exports.shiftCrews = <%- JSON.stringify(shiftCrews) %>;
  exports.shiftEmployees = <%- JSON.stringify(shiftEmployees) %>;  
  exports.shiftEquipment = <%- JSON.stringify(shiftEquipment) %>;
  exports.shiftWorkOrders = <%- JSON.stringify(shiftWorkOrders) %>;
  exports.shiftAdhocTasks = <%- JSON.stringify(shiftAdhocTasks) %>;
</script>
<script src="<%= urlPrefix %>/javascripts/shifts.employees.js"></script>
<% if (configFunctions.getConfigProperty('workOrders.isEnabled') && user.userProperties.workOrders.canView) { %>
<script src="<%= urlPrefix %>/javascripts/shifts.workOrders.js"></script>
<% } %>
<script src="<%= urlPrefix %>/javascripts/shifts.adhocTasks.js"></script>
<% } %>

<%- await include('../_footerB'); -%>