<h2 class="title is-4">Location</h2>

<div class="columns">
  <div class="column">
    <div class="field">
      <label class="label" for="workOrder--locationAddress1">Location Address</label>
      <div class="control">
        <input
          class="input"
          id="workOrder--locationAddress1"
          name="locationAddress1"
          type="text"
          form="form--workOrder"
          value="<%= workOrder.locationAddress1 ?? '' %>"
          placeholder="Address Line 1"
          maxlength="100"
          <% if (isEdit) { %>list="datalist--locations"<% } %>
          <% if (!isEdit) { %>readonly<% } %>
        />
        <% if (isEdit) { %>
        <datalist id="datalist--locations"></datalist>
        <% } %>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <input
          class="input"
          id="workOrder--locationAddress2"
          name="locationAddress2"
          type="text"
          form="form--workOrder"
          value="<%= workOrder.locationAddress2 ?? '' %>"
          placeholder="Address Line 2"
          maxlength="100"
          aria-label="Address Line 2"
          <% if (!isEdit) { %>readonly<% } %>
        />
      </div>
    </div>
    <div class="field">
      <label class="label" for="workOrder--locationCityProvince">City/Province</label>
      <div class="control">
        <input
          class="input"
          id="workOrder--locationCityProvince"
          name="locationCityProvince"
          type="text"
          form="form--workOrder"
          value="<%= workOrder.locationCityProvince ?? '' %>"
          maxlength="50"
          <% if (!isEdit) { %>readonly<% } %>
        />
      </div>
    </div>
  </div>
  <% if (isEdit || (workOrder.locationLatitude && workOrder.locationLongitude)) { %>
    <div class="column">
      <% if (isEdit) { %>
      <div class="field">
        <label class="label">Location Coordinates</label>
        <div class="columns is-mobile is-variable is-2">
          <div class="column">
            <div class="control">
              <input
                class="input"
                id="workOrder--locationLatitude"
                name="locationLatitude"
                type="number"
                step="0.0000001"
                min="-90"
                max="90"
                form="form--workOrder"
                value="<%= workOrder.locationLatitude ?? '' %>"
                placeholder="Latitude"
              />
            </div>
          </div>
          <div class="column">
            <div class="control">
              <input
                class="input"
                id="workOrder--locationLongitude"
                name="locationLongitude"
                type="number"
                step="0.0000001"
                min="-180"
                max="180"
                form="form--workOrder"
                value="<%= workOrder.locationLongitude ?? '' %>"
                placeholder="Longitude"
              />
            </div>
          </div>
        </div>
        <div id="map--locationPicker" style="height: 300px; margin-top: 0.5rem;" class="has-background-grey-lighter"></div>
        <p class="help">Click on the map to set location coordinates.</p>
      </div>
      <% } else if (workOrder.locationLatitude && workOrder.locationLongitude) { %>
      <div class="field">
        <label class="label">Location Coordinates</label>
        <p class="is-size-7">
          <%= workOrder.locationLatitude %>, <%= workOrder.locationLongitude %>
        </p>
        <div id="map--locationView" data-lat="<%= workOrder.locationLatitude %>" data-lng="<%= workOrder.locationLongitude %>" style="height: 300px; margin-top: 0.5rem;" class="has-background-grey-lighter"></div>
      </div>
      <% } %>
    </div>
  <% } %>
</div>
