<%
const workOrdersRouter = configFunctions.getConfigProperty('workOrders.router')
-%>
<aside class="menu">
  <p class="menu-label"><%= configFunctions.getConfigProperty('workOrders.sectionName') %></p>
  <ul class="menu-list">
    <li>
      <a href="<%= urlPrefix %>/<%= workOrdersRouter %>">
        <span class="icon is-small"><i class="fa-solid fa-magnifying-glass"></i></span>
        <span>Search</span>
      </a>
    </li>
    <% if (user.userProperties.workOrders.canUpdate) { %>
    <li>
      <a href="<%= urlPrefix %>/<%= workOrdersRouter %>/new">
        <span class="icon is-small"><i class="fa-solid fa-plus"></i></span>
        <span>Create New</span>
      </a>
    </li>
    <% } %>
  </ul>
</aside>
