<%- await include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li>
      <a href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('workOrders.router') %>">
        <span class="icon is-small"><i class="fa-solid <%= configFunctions.getConfigProperty('workOrders.iconClass') %>"></i></span>
        <span><%= configFunctions.getConfigProperty('workOrders.sectionName') %></span>
      </a>
    </li>
    <% if (isCreate) { %>
      <li class="is-active">
        <a href="#" aria-current="page">
          <span>
            Create New <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %>
          </span>
        </a>
      </li>
    <% } else if (isEdit) { %>
      <li>
        <a href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('workOrders.router') %>/<%= workOrder.workOrderId %>">
          <span>
            <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %> #<%= workOrder.workOrderNumber %>
          </span>
        </a>
      </li>
      <li>
        <a href="#" aria-current="page">
          <span>Edit <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %></span>
        </a>
      </li>
    <% } else { %>
      <li class="is-active">
        <a href="#" aria-current="page">
          <span>
            <% if (isCreate) { %>
              Create New <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %>
            <% } else { %>
              <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %> #<%= workOrder.workOrderNumber %>
            <% } %>
          </span>
        </a>
      </li>
    <% } %>
  </ul>
</nav>
    
<h1 class="title is-1">
  <% if (isCreate) { %>
    Create New <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %>
  <% } else { %>
    <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %> #<%= workOrder.workOrderNumber %>
  <% } %>
</h1>

<% if (isEdit) { %>
<% if (workOrderTypes.length === 0) { %>
  <div class="message is-danger">
    <p class="message-body">
      <strong>No work order types available.</strong><br />
      Please contact your system administrator to set up work order types before creating
      <%= configFunctions.getConfigProperty('workOrders.sectionName').toLowerCase() %>.
    </p>
  </div>
<% } %>
<% } %>

<form id="form--workOrder">
  <input type="hidden" id="workOrder--workOrderId" name="workOrderId" value="<%= workOrder.workOrderId ?? '' %>" />
  
  <div class="columns">
    <div class="column">
      <div class="box">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label class="label" for="workOrder--workOrderTypeId">
                <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %> Type
              </label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="workOrder--workOrderTypeId" name="workOrderTypeId" required <% if (!isEdit) { %>disabled<% } %>>
                    <% if (isCreate) { %>
                      <option value="">(Select Type)</option>
                      <% } %>
                      <% let workOrderTypeFound = false %>
                      <% for (const workOrderType of workOrderTypes) { %>
                        <option
                        value="<%= workOrderType.workOrderTypeId %>"
                        <% if (workOrder.workOrderTypeId === workOrderType.workOrderTypeId) { %>
                          <% workOrderTypeFound = true; %>
                          selected
                          <% } %>
                          >
                          <%= workOrderType.workOrderType %>
                    </option>
                    <% } %>
                    <% if (!isCreate && !workOrderTypeFound && workOrder.workOrderTypeId !== -1) { %>
                      <option value="<%= workOrder.workOrderTypeId %>" selected>
                        <%= workOrder.workOrderType %>
                        <%= isEdit ? "(Inactive)" : "" %>
                      </option>
                    <% } %>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label class="label" for="workOrder--workOrderStatusDataListItemId">Status</label>
              <div class="control">
                <div class="select is-fullwidth">
                  <select id="workOrder--workOrderStatusDataListItemId" name="workOrderStatusDataListItemId" <% if (!isEdit) { %>disabled<% } %>>
                    <option value="">(No Status)</option>
                    <% let workOrderStatusFound = false %>
                    <% for (const workOrderStatus of workOrderStatuses) { %>
                      <option
                      value="<%= workOrderStatus.dataListItemId %>"
                      <% if (workOrder.workOrderStatusDataListItemId === workOrderStatus.dataListItemId) { %>
                        <% workOrderStatusFound = true; %>
                        selected
                        <% } %>
                        >
                        <%= workOrderStatus.dataListItem %>
                      </option>
                      <% } %>
                      <% if (!workOrderStatusFound && workOrder.workOrderStatusDataListItemId) { %>
                        <option value="<%= workOrder.workOrderStatusDataListItemId %>" selected>
                          <%= workOrder.workOrderStatusDataListItem %>
                          <%= isEdit ? "(Inactive)" : "" %>
                        </option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="field">
          <label class="label" for="workOrder--workOrderDetails">Details</label>
          <div class="control">
            <textarea
              class="textarea"
              id="workOrder--workOrderDetails"
              name="workOrderDetails"
              rows="6"
              <% if (!isEdit) { %>readonly<% } %>
            ><%= workOrder.workOrderDetails ?? '' %></textarea>
          </div>
        </div>
      </div>
      <div class="box">
        <div class="field">
          <label class="label" for="workOrder--requestorName">Requestor Name</label>
          <div class="control">
            <input
              class="input"
              id="workOrder--requestorName"
              name="requestorName"
              type="text"
              value="<%= workOrder.requestorName ?? '' %>"
              maxlength="100"
              required
              <% if (isEdit) { %>list="datalist--requestorNames"<% } %>
              <% if (!isEdit) { %>readonly<% } %>
            />
            <% if (isEdit) { %>
            <datalist id="datalist--requestorNames"></datalist>
            <% } %>
          </div>
        </div>
        <div class="field">
          <label class="label" for="workOrder--requestorContactInfo">Requestor Contact Info</label>
          <div class="control">
            <input
              class="input"
              id="workOrder--requestorContactInfo"
              name="requestorContactInfo"
              type="text"
              value="<%= workOrder.requestorContactInfo ?? '' %>"
              maxlength="100"
              <% if (!isEdit) { %>readonly<% } %>
            />
          </div>
        </div>
        <div class="field">
          <label class="label" for="workOrder--assignedToDataListItemId">Assigned To</label>
          <div class="control">
            <% if (isEdit) { %>
            <div class="select is-fullwidth">
              <select id="workOrder--assignedToDataListItemId" name="assignedToDataListItemId">
                <option value="">(Not Assigned)</option>
                <% let assignedToFound = false %>
                <% for (const assignedToOption of assignedToOptions) { %>
                  <option
                    value="<%= assignedToOption.dataListItemId %>"
                    <% if (workOrder.assignedToDataListItemId === assignedToOption.dataListItemId) { %>
                      <% assignedToFound = true; %>
                      selected
                    <% } %>
                  >
                    <%= assignedToOption.dataListItem %>
                  </option>
                <% } %>
                <% if (!assignedToFound && workOrder.assignedToDataListItemId) { %>
                  <option value="<%= workOrder.assignedToDataListItemId %>" selected>
                    <%= workOrder.assignedToDataListItem %> (Inactive)
                  </option>
                <% } %>
              </select>
            </div>
            <% } else { %>
            <input
              class="input"
              type="text"
              value="<%= workOrder.assignedToDataListItem ?? '(Not Assigned)' %>"
              readonly
            />
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="box">
        <div class="field">
          <label class="label" for="workOrder--locationAddress1">Location Address</label>
          <div class="control">
            <input
              class="input"
              id="workOrder--locationAddress1"
              name="locationAddress1"
              type="text"
              value="<%= workOrder.locationAddress1 ?? '' %>"
              placeholder="Address Line 1"
              maxlength="100"
              <% if (isEdit) { %>list="datalist--locations"<% } %>
              <% if (!isEdit) { %>readonly<% } %>
            />
            <% if (isEdit) { %>
            <datalist id="datalist--locations"></datalist>
            <% } %>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input
              class="input"
              id="workOrder--locationAddress2"
              name="locationAddress2"
              type="text"
              value="<%= workOrder.locationAddress2 ?? '' %>"
              placeholder="Address Line 2"
              maxlength="100"
              aria-label="Address Line 2"
              <% if (!isEdit) { %>readonly<% } %>
            />
          </div>
        </div>

        <div class="field">
          <label class="label" for="workOrder--locationCityProvince">City/Province</label>
          <div class="control">
            <input
              class="input"
              id="workOrder--locationCityProvince"
              name="locationCityProvince"
              type="text"
              value="<%= workOrder.locationCityProvince ?? '' %>"
              maxlength="50"
              <% if (!isEdit) { %>readonly<% } %>
            />
          </div>
        </div>

        <% if (isEdit) { %>
        <div class="field">
          <label class="label">Location Coordinates</label>
          <div class="columns is-mobile is-variable is-2">
            <div class="column">
              <div class="control">
                <input
                  class="input"
                  id="workOrder--locationLatitude"
                  name="locationLatitude"
                  type="number"
                  step="0.0000001"
                  min="-90"
                  max="90"
                  value="<%= workOrder.locationLatitude ?? '' %>"
                  placeholder="Latitude"
                />
              </div>
            </div>
            <div class="column">
              <div class="control">
                <input
                  class="input"
                  id="workOrder--locationLongitude"
                  name="locationLongitude"
                  type="number"
                  step="0.0000001"
                  min="-180"
                  max="180"
                  value="<%= workOrder.locationLongitude ?? '' %>"
                  placeholder="Longitude"
                />
              </div>
            </div>
          </div>
          <div id="map--locationPicker" style="height: 300px; margin-top: 0.5rem;" class="has-background-grey-lighter"></div>
          <p class="help">Click on the map to set location coordinates.</p>
        </div>
        <% } else if (workOrder.locationLatitude && workOrder.locationLongitude) { %>
        <div class="field">
          <label class="label">Location Coordinates</label>
          <p class="is-size-7">
            <%= workOrder.locationLatitude %>, <%= workOrder.locationLongitude %>
          </p>
          <div id="map--locationView" data-lat="<%= workOrder.locationLatitude %>" data-lng="<%= workOrder.locationLongitude %>" style="height: 300px; margin-top: 0.5rem;" class="has-background-grey-lighter"></div>
        </div>
        <% } %>
      </div>
      <div class="box">
        <div class="field">
          <label class="label" for="workOrder--workOrderOpenDateTimeString">Open Date/Time</label>
          <div class="control has-icons-left has-icons-right">
            <input
              class="input"
              id="workOrder--workOrderOpenDateTimeString"
              name="workOrderOpenDateTimeString"
              type="datetime-local"
              value="<%= workOrder.workOrderOpenDateTime ? dateTimeFunctions.dateToString(workOrder.workOrderOpenDateTime) + 'T' + dateTimeFunctions.dateToTimeString(workOrder.workOrderOpenDateTime) : '' %>"
              required
              <% if (!isEdit) { %>readonly<% } %>
            />
            <span class="icon is-small is-left">
              <i class="fa-solid fa-play"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fa-solid fa-asterisk"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label" for="workOrder--workOrderDueDateTimeString">Due Date/Time</label>
          <div class="control has-icons-left">
            <input
              class="input"
              id="workOrder--workOrderDueDateTimeString"
              name="workOrderDueDateTimeString"
              type="datetime-local"
              value="<%= workOrder.workOrderDueDateTime ? dateTimeFunctions.dateToString(workOrder.workOrderDueDateTime) + 'T' + dateTimeFunctions.dateToTimeString(workOrder.workOrderDueDateTime) : '' %>"
              <% if (!isEdit) { %>readonly<% } %>
            />
            <span class="icon is-small is-left">
              <i class="fa-solid fa-exclamation-triangle"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label" for="workOrder--workOrderCloseDateTimeString">Close Date/Time</label>
          <div class="field has-addons">
            <div class="control is-expanded has-icons-left">
              <input
                class="input"
                id="workOrder--workOrderCloseDateTimeString"
                name="workOrderCloseDateTimeString"
                type="datetime-local"
                value="<%= workOrder.workOrderCloseDateTime ? dateTimeFunctions.dateToString(workOrder.workOrderCloseDateTime) + 'T' + dateTimeFunctions.dateToTimeString(workOrder.workOrderCloseDateTime) : '' %>"
                <% if (!isEdit) { %>readonly<% } %>
              />
              <span class="icon is-small is-left">
                <i class="fa-solid fa-stop"></i>
              </span>
            </div>
            <% if (isEdit) { %>
            <div class="control">
              <button class="button" type="button" id="button--setCloseTimeNow" title="Set to Now">
                <span class="icon"><i class="fa-solid fa-clock"></i></span>
                <span class="is-hidden-touch">Now</span>
              </button>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-vcentered is-fixed-bottom has-background-white has-shadow is-hidden-print">
    <div class="column">
      <% if (!isCreate) { %>
      #<%= workOrder.workOrderNumber %>
      <% } %>
    </div>
    <div class="column is-narrow has-text-right">
      <div class="buttons is-right">
        <% if (isCreate) { %>
        <a class="button is-danger is-light" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('workOrders.router') %>">
          Cancel
        </a>
        <% } else { %>
        <a class="button is-info is-light" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('workOrders.router') %>/<%= workOrder.workOrderId %>/print" target="_blank">
          <span class="icon is-small"><i class="fa-solid fa-print"></i></span>
          <span>Print</span>
        </a>
        <% } %>
        <% if (isEdit) { %>
        <div class="field has-addons">
          <p class="control">
            <button class="button is-primary is-light" type="submit" form="form--workOrder">
              <span class="icon is-small"><i class="fa-solid fa-save"></i></span>
              <span>
                <%= (isCreate ? "Create": "Update") %>
                <span class="is-hidden-mobile">
                  <%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %>
                </span>
              </span>
            </button>
          </p>
          <% if (!isCreate) { %>
          <p class="control">
            <div class="dropdown is-up is-right">
              <div class="dropdown-trigger">
                <button class="button is-primary is-light" aria-haspopup="true" aria-controls="dropdown-workorder-actions" type="button">
                  <span class="icon is-small">
                    <i class="fa-solid fa-angle-up"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-workorder-actions" role="menu">
                <div class="dropdown-content">
                  <a href="#" class="dropdown-item" id="button--deleteWorkOrder">
                    <span class="icon has-text-danger"><i class="fa-solid fa-trash"></i></span>
                    <span>Delete Work Order</span>
                  </a>
                </div>
              </div>
            </div>
          </p>
          <% } %>
        </div>
        <% } else if (user.userProperties.workOrders.canUpdate && workOrder.workOrderCloseDateTime === null) { %>
        <a class="button is-info is-light" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('workOrders.router') %>/<%= workOrder.workOrderId %>/edit">
          <span class="icon is-small"><i class="fa-solid fa-edit"></i></span>
          <span>
            Edit
            <span class="is-hidden-mobile"><%= configFunctions.getConfigProperty('workOrders.sectionNameSingular') %></span>
          </span>
        </a>
        <% } %>
      </div>
    </div>
  </div>
</form>

<% if (!isCreate) { %>
<div class="columns is-mobile mt-4" id="container--workOrderTabs">
  <div class="column is-3 is-narrow-touch">
    <div class="menu">
      <ul class="menu-list">
        <li>
          <a class="is-active" href="#tab--milestones" title="Milestones">
            <div class="columns is-mobile is-1">
              <div class="column is-narrow">
                <span class="icon"><i class="fa-solid fa-list-check"></i></span>
              </div>
              <div class="column is-hidden-touch">
                Milestones
                <span class="tag is-rounded ml-2" id="milestonesCount">0</span>
              </div>
            </div>
          </a>
        </li> 
        <li>
          <a href="#tab--notes" title="Notes">
            <div class="columns is-mobile is-1">
              <div class="column is-narrow">
                <span class="icon"><i class="fa-solid fa-note-sticky"></i></span>
              </div>
              <div class="column is-hidden-touch">
                Notes
                <span class="tag is-rounded ml-2" id="notesCount">0</span>
              </div>
            </div>
          </a>
        </li>
      </ul>  
    </div>
  </div>
  <div class="column">
    <div class="tabs-container">
      <div id="tab--milestones">
        <%- await include('_edit-milestones'); -%>
      </div>
      <div id="tab--notes" class="is-hidden">
        <%- await include('_edit-notes'); -%>
      </div>
    </div>
  </div>
</div>
<% } %>

<%- await include('../_footerA'); -%>

<script>
  exports.assignedToOptions = <%- JSON.stringify(assignedToOptions) %>;
  exports.workOrderAssignedToDataListItemId = <%= workOrder.assignedToDataListItemId ? workOrder.assignedToDataListItemId : 'null' %>;
  exports.workOrderOpenDateTime = "<%= workOrder.workOrderOpenDateTime ? dateTimeFunctions.dateToString(workOrder.workOrderOpenDateTime) + 'T' + dateTimeFunctions.dateToTimeString(workOrder.workOrderOpenDateTime) : '' %>";
  exports.isEdit = <%= isEdit %>;
</script>

<script src="<%= urlPrefix %>/javascripts/workOrders.viewEdit.js"></script>
<script src="<%= urlPrefix %>/javascripts/workOrders.milestones.viewEdit.js"></script>
<script src="<%= urlPrefix %>/javascripts/workOrders.notes.viewEdit.js"></script>

<% if (isEdit) { %>
<script src="<%= urlPrefix %>/javascripts/workOrders.edit.js"></script>
<% } else { %>
<script src="<%= urlPrefix %>/javascripts/workOrders.view.js"></script>
<% } %>

<%- await include('../_footerB'); -%>
