<div class="menu">
  <% if (user.userProperties.timesheets.canUpdate) { %>
  <ul class="menu-list">
    <li>
      <a
        class="has-text-weight-semibold"
        href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>/new"
        title="Create New <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %>"
      >
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon is-small">
              <i class="fa-solid fa-plus-circle has-text-success"></i>
            </span>
          </div>
          <div class="column is-hidden-touch">
            Create New <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <% } %>
  <p class="menu-label">
    <%= configFunctions.getConfigProperty('timesheets.sectionName') %>
  </p>
  <ul class="menu-list">
    <li>
      <a
        class="has-text-weight-semibold <%= headTitle.endsWith(' - Search') ? 'is-active' : '' %>"
        href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>"
        title="<%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %> Search"
      >
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon is-small">
              <i class="fa-solid fa-search"></i>
            </span>
          </div>
          <div class="column is-hidden-touch">
            <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %> Search
          </div>
        </div>
      </a>
    </li>
  </ul>
  <p class="menu-label is-hidden-touch">Tools</p>
  <ul class="menu-list">
    <% if (user.userProperties.timesheets.canManage) { %>
    <li>
      <a
        class="<%= headTitle.endsWith(' - Record Recovery') ? 'is-active' : '' %>"
        href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>/recovery"
        title="Record Recovery"
      >
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon is-small">
              <i class="fa-solid fa-trash-can-arrow-up"></i>
            </span>
          </div>
          <div class="column is-hidden-touch">
            Record Recovery
          </div>
        </div>
      </a>
    </li>
    <% } %>
    <li>
      <a href="<%= urlPrefix %>/dashboard/reports/?tab=timesheets">
        
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon is-small">
              <i class="fa-solid fa-file-lines"></i>
            </span>
          </div>
          <div class="column is-hidden-touch">
            Reports
          </div>
        </div>
      </a>
    </li>
    
    <li>
      <a
        href="https://cityssm.github.io/shiftlog/docs/timesheets.html"
        title="<%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %> Help"
        rel="noopener noreferrer"
        target="_blank"
      >
        <div class="columns is-mobile is-1">
          <div class="column is-narrow">
            <span class="icon is-small">
              <i class="fa-solid fa-question-circle"></i>
            </span>
          </div>
          <div class="column is-hidden-touch">
            Help
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
