<div class="menu">
  <p class="menu-label">
    <%= configFunctions.getConfigProperty('timesheets.sectionName') %>
  </p>
  <ul class="menu-list">
    <li>
      <a href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>">
        <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>
        <span><%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %> Search</span>
      </a>
      <% if (user.userProperties.timesheets.canUpdate) { %>
      <ul>
        <li>
          <a
            href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>/new"
            title="Create New <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %>">
            <span class="is-hidden-touch">Create New <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %></span>
            <span class="icon is-hidden-desktop"><i class="fa-solid fa-plus"></i></span>
          </a>
        </li>
      </ul>
      <% } %>
    </li>
    <li>
      <a href="<%= urlPrefix %>/dashboard/reports/?tab=timesheets">
        <span class="icon"><i class="fa-solid fa-file-lines"></i></span>
        <span><%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %> Reports</span>
      </a>
    </li>
    <% if (user.userProperties.timesheets.canManage) { %>
    <li>
      <a
        class="<%= headTitle.endsWith(' - Record Recovery') ? 'is-active' : '' %>"
        href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>/recovery"
        title="Record Recovery">
        <span class="icon"><i class="fa-solid fa-trash-arrow-up"></i></span>
        <span>Record Recovery</span>
      </a>
    </li>
    <% } %>
  </ul>
</div>
