<%- await include('../_header'); -%>

<nav class="breadcrumb">
  <ul>
    <li><a href="<%= urlPrefix %>/dashboard">Home</a></li>
    <li>
      <a href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>">
        <span class="icon is-small"><i class="fa-solid <%= configFunctions.getConfigProperty('timesheets.iconClass') %>"></i></span>
        <span><%= configFunctions.getConfigProperty('timesheets.sectionName') %></span>
      </a>
    </li>
    <li class="is-active">
      <a href="#" aria-current="page">
        <span>
          <% if (isCreate) { %>
          Create New <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %>
          <% } else { %>
          <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %> #<%= timesheet.timesheetId %>
          <% } %>
        </span>
      </a>
    </li>
  </ul>
</nav>

<h1 class="title is-1">
  <% if (isCreate) { %>
  Create New <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %>
  <% } else { %>
  <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %> #<%= timesheet.timesheetId %>
  <% } %>
</h1>

<% if (isEdit) { %>
  <% if (timesheetTypes.length === 0) { %>
  <div class="message is-danger">
    <div class="message-body">
      <p>
        <strong>No timesheet types available.</strong><br />
        Please contact your system administrator to set up timesheet types before creating
        <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular').toLowerCase() %>s.
      </p>
      <% if (user.userProperties.isAdmin) { %>
      <p class="has-text-right">
        <a class="button is-link" href="<%= urlPrefix %>/admin/dataLists">
          Data List Management
        </a>
      </p>
      <% } %>
    </div>
  </div>
  <% } %>

  <% if (supervisors.length === 0) { %>
  <div class="message is-danger">
    <div class="message-body">
      <p>
        <strong>No supervisors available.</strong><br />
        Please contact your system administrator to set up supervisors before creating
        <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular').toLowerCase() %>s.
      </p>
      <% if (user.userProperties.isAdmin) { %>
      <p class="has-text-right">
        <a class="button is-link" href="<%= urlPrefix %>/admin/dataLists">
          Data List Management
        </a>
      </p>
      <% } %>
    </div>
  </div>
  <% } %>
<% } %>

<form id="form--timesheet">
  <div class="panel">
    <div class="panel-block is-block">
      <input type="hidden" id="timesheet--timesheetId" name="timesheetId" value="<%= timesheet.timesheetId ?? '' %>" />
    
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label" for="timesheet--timesheetTypeDataListItemId">
              <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %> Type
            </label>
            <div class="control">
              <div class="select is-fullwidth">
                <select id="timesheet--timesheetTypeDataListItemId" name="timesheetTypeDataListItemId" required>
                  <% if (isCreate) { %>
                  <option value="">(Select Type)</option>
                  <% } %>
                  <% let timesheetTypeFound = false %>
                  <% for (const timesheetType of timesheetTypes) { %>
                  <option
                    value="<%= timesheetType.dataListItemId %>"
                    <% if (timesheet.timesheetTypeDataListItemId === timesheetType.dataListItemId) { %>
                    <% timesheetTypeFound = true; %>
                    selected
                    <% } %>
                  >
                    <%= timesheetType.dataListItem %>
                  </option>
                  <% } %>
                  <% if (!timesheetTypeFound && timesheet.timesheetTypeDataListItemId !== -1) { %>
                  <option value="<%= timesheet.timesheetTypeDataListItemId %>" selected>
                    <%= timesheet.timesheetTypeDataListItem %>
                    <%= isEdit ? "(Inactive)" : "" %>
                  </option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label" for="timesheet--supervisorEmployeeNumber">Supervisor</label>
            <div class="control">
              <div class="select is-fullwidth">
                <select id="timesheet--supervisorEmployeeNumber" name="supervisorEmployeeNumber" required>
                  <% if (isCreate) { %>
                  <option value="">(Select Supervisor)</option>
                  <% } %>
                  <% let supervisorFound = false %>
                  <% for (const supervisor of supervisors) { %>
                  <option
                    value="<%= supervisor.employeeNumber %>"
                    <% if (timesheet.supervisorEmployeeNumber === supervisor.employeeNumber || (isCreate && supervisor.userName === user.userName)) { %>
                    <% supervisorFound = true; %>
                    selected
                    <% } %>
                    %>
                  >
                    <%= supervisor.lastName %>, <%= supervisor.firstName %>
                  </option>
                  <% } %>
                  <% if (!supervisorFound && timesheet.supervisorEmployeeNumber !== '') { %>
                  <option value="<%= timesheet.supervisorEmployeeNumber %>" selected>
                    <%= timesheet.supervisorLastName %>, <%= timesheet.supervisorFirstName %>
                    <%= isEdit ? "(Inactive)" : "" %>
                  </option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="columns">
        <div class="column">
          <div class="field">
            <label class="label" for="timesheet--timesheetDateString">Date</label>
            <div class="control">
              <input
                class="input"
                id="timesheet--timesheetDateString"
                name="timesheetDateString"
                type="date"
                value="<%= timesheet.timesheetDate ? (typeof timesheet.timesheetDate === 'string' ? timesheet.timesheetDate.split('T')[0] : timesheet.timesheetDate.toISOString().split('T')[0]) : '' %>"
                required
              />
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <label class="label" for="timesheet--timesheetTitle">Title</label>
            <div class="control">
              <input
                class="input"
                id="timesheet--timesheetTitle"
                name="timesheetTitle"
                type="text"
                maxlength="100"
                value="<%= timesheet.timesheetTitle ?? '' %>"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label" for="timesheet--shiftId">Related <%= configFunctions.getConfigProperty('shifts.sectionNameSingular') %> (Optional)</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select id="timesheet--shiftId" name="shiftId" data-initial-value="<%= timesheet.shiftId ?? '' %>">
              <option value="">(No Shift)</option>
              <% if (!isCreate && timesheet.shiftId) { %>
              <option value="<%= timesheet.shiftId %>" selected>Shift #<%= timesheet.shiftId %><% if (timesheet.shiftDescription) { %> (<%= timesheet.shiftDescription %>)<% } %></option>
              <% } %>
            </select>
          </div>
        </div>
        <p class="help">Select a shift to link this timesheet. Filters by supervisor and date.</p>
      </div>
    
      <div class="field">
        <label class="label" for="timesheet--timesheetNote">Note</label>
        <div class="control">
          <textarea
            class="textarea"
            id="timesheet--timesheetNote"
            name="timesheetNote"
            rows="3"
            maxlength="200"
          ><%= timesheet.timesheetNote ?? '' %></textarea>
        </div>
      </div>
    </div>
  </div>
</form>

<% if (!isCreate) { %>
<div class="mt-4">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <h2 class="title is-3">Timesheet Data</h2>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <div class="field is-grouped">
          <p class="control">
            <label class="checkbox">
              <input type="checkbox" id="display--hideEmptyRows" />
              Hide Empty Rows
            </label>
          </p>
          <p class="control">
            <label class="checkbox">
              <input type="checkbox" id="display--hideEmptyColumns" />
              Hide Empty Columns
            </label>
          </p>
        </div>
      </div>
    </div>
  </div>



  <div class="box">
    <div id="timesheet-grid-container"></div>
  </div>
</div>
<% } %>

<% if (!isCreate) { %>
<div class="columns is-vcentered is-fixed-bottom has-background-white has-shadow is-hidden-print">
  <div class="column">
    <% if (!isCreate) { %>
      <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %>
    #<%= timesheet.timesheetId %>
    <% } %>
  </div>
  <div class="column is-narrow has-text-right">
    <div class="buttons is-right">
      <% if (isCreate) { %>
      <a class="button is-danger is-light" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>">
        Cancel
      </a>
      <% } %>
      <% if (isEdit) { %>
      <div class="dropdown" id="dropdown--add">
        <div class="dropdown-trigger">
          <button class="button is-primary" aria-haspopup="true" aria-controls="dropdown-menu-add">
            <span class="icon is-small"><i class="fa-solid fa-plus"></i></span>
            <span>Add</span>
            <span class="icon is-small"><i class="fa-solid fa-angle-down"></i></span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu-add" role="menu">
          <div class="dropdown-content">
            <a href="#" class="dropdown-item" id="button--addColumn">
              <span class="icon is-small"><i class="fa-solid fa-plus"></i></span>
              <span>Add Column</span>
            </a>
            <a href="#" class="dropdown-item" id="button--addRow">
              <span class="icon is-small"><i class="fa-solid fa-plus"></i></span>
              <span>Add Row</span>
            </a>
            <hr class="dropdown-divider">
            <a href="#" class="dropdown-item" id="button--copyFromShift">
              <span class="icon is-small"><i class="fa-solid fa-copy"></i></span>
              <span>Copy from Shift</span>
            </a>
            <a href="#" class="dropdown-item" id="button--copyFromPrevious">
              <span class="icon is-small"><i class="fa-solid fa-copy"></i></span>
              <span>Copy from Previous Timesheet</span>
            </a>
          </div>
        </div>
      </div>
      <button class="button is-primary is-light" type="submit" form="form--timesheet">
        <span class="icon is-small"><i class="fa-solid fa-save"></i></span>
        <span>
          <%= (isCreate ? "Create": "Update") %>
          <span class="is-hidden-mobile">
            <%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %>
          </span>
        </span>
      </button>
      <% } else if (
        user.userProperties.timesheets.canUpdate && 
        (timesheet.employeesEntered_dateTime === null || timesheet.employeesEntered_dateTime === undefined) &&
        (timesheet.equipmentEntered_dateTime === null || timesheet.equipmentEntered_dateTime === undefined) &&
        (timesheet.supervisorEmployeeNumber === user.employeeNumber || user.userProperties.timesheets.canManage)) { 
      %>
      <a class="button is-info is-light" href="<%= urlPrefix %>/<%= configFunctions.getConfigProperty('timesheets.router') %>/<%= timesheet.timesheetId %>/edit">
        <span class="icon is-small"><i class="fa-solid fa-edit"></i></span>
        <span>
          Edit
          <span class="is-hidden-mobile"><%= configFunctions.getConfigProperty('timesheets.sectionNameSingular') %></span>
        </span>
      </a>
      <% } %>
    </div>
  </div>
</div>
<% } %>

<%- await include('../_footerA'); -%>

<script src="<%= urlPrefix %>/javascripts/timesheets.grid.js"></script>
<script src="<%= urlPrefix %>/javascripts/timesheets.viewEdit.js"></script>

<% if (isEdit) { %>
<script src="<%= urlPrefix %>/javascripts/timesheets.edit.js"></script>
<% } else { %>
<script src="<%= urlPrefix %>/javascripts/timesheets.view.js"></script>
<% } %>

<%- await include('../_footerB'); -%>
